.account-nav {
	&>li {
		a, span {
			color: #999;
		    padding: 10px 0;
		    display: block;
		    font-size: 14px;
		    text-transform: uppercase;
		    border-bottom: 1px solid #D8D8D8;

		    &.active {
		    	color: #333;
		    	font-weight: bold;
		    }

		    &>i {
		    	margin-right: 10px;
			    font-size: 14px;
			    width: 20px;
		    }
		}
	}
}

.accont-heading {
	margin: 10px 0 20px;
}