.button {
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-family: "Montserrat",sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 8px 20px;
    border: none;
    text-transform: uppercase;
    text-align: center;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;

    &.button-small {
        font-size: 8px;
        padding: 3px 10px;
         @media (min-width: $screen-sm-min) {
            font-size: 10px;
            padding: 4px 16px;
        }
    }

    &:disabled {
        color: #CCC;
        background: #8D8D8D;
        &:hover {
            color: #CCC;
            background: #8D8D8D;
        }
    }
}

.btn-sm {
    height: 37px;
}

.login-btn {
    margin-right: 10px;
}
.button-default {
    letter-spacing: .025em;
    border: 1px solid #E5E5E5;
    border-radius: 2px;
    text-transform: uppercase;
    cursor: pointer;
    outline: 0;
    color: #111;
    background: #F7F7F7;
    font-size: 12px;
}

.button-smaill {
    padding: 5px 18px;
}

.button-gray {
    background: #000; 
    font-size: 12px;
    color: #fff;
    &:hover{
        background-color: $primary-btn-bg-color-hover;
        color: #fff;
    }
}

.button-default:hover {
    background: #fff;
}

.btn-full {
    width: 100%;
}

.button-inline {
    margin-left: 5px;
}

.button-danger {
    background: #c9302c;
    color: #fff;
    &:hover{
        background-color: #ac2925;
        color: #fff;
    }
}

.btn-cart {
    background: $primary-btn-bg-color none repeat scroll 0 0;
    display: inline;
}

.btn-cart:hover {
    color: #fff;
    background-color: #000;
}

.btn-submit {
    background: $primary-btn-bg-color none repeat scroll 0 0; 
    color: #fff;
    &:hover{
        background-color: $primary-btn-bg-color-hover;
        color: #fff;
    }
}

.btn-facebook:hover,
.btn-twitter:hover,
.btn-google-plus:hover,
.btn-pinterest:hover {
    border-color: white;
}
.btn-facebook i {
    color: #435f9f;
}
.btn-facebook:hover {
    color: white;
    background-color: #435f9f;
}
.btn-facebook:hover i {
    color: white;
}
.btn-twitter i {
    color: #00aaf0;
}
.btn-twitter:hover {
    color: white;
    background-color: #00aaf0;
}
.btn-twitter:hover i {
    color: white;
}
.btn-google-plus i {
    color: #e04b34;
}
.btn-google-plus:hover {
    color: white;
    background-color: #e04b34;
}
.btn-google-plus:hover i {
    color: white;
}
.btn-pinterest i {
    color: #ce1f21;
}
.btn-pinterest:hover {
    color: white;
    background-color: #ce1f21;
}
.btn-pinterest:hover i {
    color: white;
}