#paypal-button {
	position: relative;
}

.checkout-heading {
	margin: 0;
    border-radius: 3px 3px 0 0;
    background-color: #eee;
    line-height: 1em;
	padding: 16px;
	font-size: 16px;
	font-weight: bold;
	position: relative;

	&.active {
		background: #333;
		color: #fff;
	}

	&.closed {
		border-radius: 2px;
    	margin-bottom: 20px;
	}

	i {
	    color: #FA5400;
	    font-size: 12px;
	    margin-right: 5px;
	}

	.button {
		position: absolute;
	    right: 20px;
	    top: 9px;
	    padding: 6px 25px;
	}
}

.cart {
    color: #666;
    border: 1px solid #f3f3f3;
    border-radius: 2px;
    margin-bottom: 20px;
    padding-bottom: 10px;
	&__content {

		&__empty {
			padding: 20px;
		}

		&__item {
			padding: 20px;
    		border-top: 1px solid #eee;

    		&__image {

    		}

    		&__detail {

    			&__option {
    				margin: 10px 0;
    			}

    			&__btn {
    				padding: 0 8px;
				    margin-left: 10px;
				    letter-spacing: .025em;
				    border: 1px solid #e5e5e5;
				    border-radius: 2px;
				    text-transform: uppercase;
				    cursor: pointer;
				    outline: 0;
				    color: #111;
				    background: #f7f7f7;
				    font-size: 12px;

				    &:hover {
				    	background: #fff;
				    }
    			}
    		}

    		&__action {
    			
    		}

    		&__price {
    			color: #fa5400;
    			text-align: right;

    			&__strikeout {
    				color: #999;
    				text-decoration: line-through;
    			}
    		}
		}
	}
}

.paypal-icon {
	display: inline-block;
    width: 60px;
    height: 19px;
    position: relative;
    left: 2px;
    top: 5px;
    background: url(/assets/img/paypal-logo.png);
    background-size: 60px 19px;
    background-position: 0 0px;
}

.option-row {
	line-height: 22px;

	&__label {
		font-weight: bold;
		color: #333;
	}

	&__value {
		margin-left: 5px; 
		color: #666;
	}
}

.checkout-container {
	padding: 20px;
	background: #eee;
    height: auto;
    color: #333;
    border: 1px solid #f3f3f3;
    border-radius: 2px;
    margin-bottom: 20px;
    clear: both;

    &__heading {
    	font-size: 14px;
	    letter-spacing: .025em;
	    padding-bottom: 10px;
	    border-bottom: 1px solid #ccc;
    	margin: 0 0 15px;
    	font-weight: bold;
    }

}

.checkout-content {
	padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 2px;
    margin-bottom: 20px;
    address {
    	margin: 0;
    	line-height: 20px;
    }

    .billing-address {
    	margin: 40px 0 0;
    }
}

.address-actions {
	 margin-bottom: 20px;
	text-align: right;
	button {
		margin-left: 5px;
	}
}

.address-list, .payment-list {
	li {
		border-bottom: #CCC solid 1px;
	    font-size: 12px;
	    line-height: 20px;
	    padding: 10px 0;
	    &:last-child {
	    	margin-bottom: 20px;
	    }

	    .address-detail-actions, .payment-detail-actions {
	    	text-align: right;
	    	.active {
	    		font-size: 18px;
			    margin-right: 15px;
			    color: #fa5400;
	    	}
	    }

	    .address-detail-actions {
	    	padding-top: 15px;
	    }
	}

	li.new-address, li.new-payment {
		text-align: right;
		border-bottom: none;
	}
}

.address-label, .payment-label {
	font-weight: bold;
}

.checkout-summary-content {
	border: 1px solid #f3f3f3;
    border-radius: 2px;
    margin-bottom: 20px;
}

.summary {
	&-row {
		border-top: #333 1px solid;
		border-bottom: #000 1px solid;
    	padding: 14px 20px;
    	font-size: 12px;
    	clear: both;
	}
	&__content {
	    background: #191919;
	    letter-spacing: .025em;
	    font-size: 14px;
	    color: #efefef;
	    border-radius: 2px;
	    margin-bottom: 20px;

	    &__title {
	    	font-size: 16px;
	    	border-bottom: #000 1px solid;
    		padding: 20px;
	    	margin: 0;
	    }

	    &__label {

	    	&--big {
	    		font-size: 20px;
	    	}
	    }

	    &__value {
	    	float: right;
	    	&--big {
	    		float: right;
	    		font-size: 20px;
	    	}
	    }

	    &__divider {
	    	text-align: center;
    		margin: 10px 0;
	    }
	}

	&__help {
		border: 1px solid #f3f3f3;
	    color: #333;
	    border-radius: 2px;
	    padding: 20px 20px 21px;
	    display: inline-block;
	    margin-bottom: 20px;
	    width: 100%;
	    &__title {
	    	font-size: 20px;
    		padding-bottom: 14px;
	    }

	    ul {
	    	list-style: inherit;
		    font-size: 12px;
		    margin: 0;
		    padding: 0 0 15px 15px;

    		a {
    			color: #666;

    			&:hover {
    				text-decoration: underline;
    			}
    		}
	    }
	}
}

.checkout-summary-content {
    padding: 20px;
    font-size: 12px;
    margin-bottom: 20px;
    &__label {

    	&--big {
    		font-size: 18px;
    	}
    }

    &__value {
    	float: right;
    	&--big {
    		float: right;
    		font-size: 18px;
    		color: #fa5400;
    	}
    }

    &__divider {
    	text-align: center;
		margin: 10px 0;
    }
}

.checkout-cart {
	&__heading {
		letter-spacing: .025em;
	    font-size: 16px;
	    border-bottom: #f3f3f3 1px solid;
	    padding-bottom: 6px;
	    clear: both;
	    margin: 0;
	}

	&__item {

		.option-row {
			line-height: 18px;
		}

		&__image {
			width: 65px;
		    text-align: center;
		    vertical-align: top;
		    min-height: 96px;
		    overflow: hidden;
		    padding-top: 20px;
		    display: table-cell;
		}

		&__detail {
			font-size: 12px;
		    padding-top: 10px;
		    padding-left: 20px;
		    display: table-cell;
		    position: relative;

		    &__heading {
		    	color: #333;
    			font-weight: 700;
    			font-size: 12px;
    			line-height: 18px;
    			margin-bottom: 5px;
		    }

		    &__price {
		    	color: #fa5400;
		    	font-weight: bold;
		    	margin: 5px 0;

		    	&__msrp {
		    		color: #999;
				    text-decoration: line-through;
				    margin-right: 5px;
				    font-weight: 300;
		    	}
		    }
		}
	}
}

.billing-label {
	margin-right: 5px;
}

.shipping-msg{
    font-weight: 600;
    color:#fa5400;
}