/* footer */

.topFooter {
    padding: 50px 0;
    background: #272727;
    position: relative;
}

.topFooter .logo-footer {
    margin-bottom: 20px;
}

.topFooter .logo-footer a {
    display: block;
    margin-bottom: 20px;
}

.topFooter .logo-footer p {
    line-height: 20px
}

.topFooter .logo-footer p strong {
    color: #000;
}

.topFooter .logo-footer p span {
    color: #333;
    display: block;
    text-transform: uppercase;
}

.centerFooter {
    padding-bottom: 30px;
}

.topFooter .nameSite {
    color: #333333;
    font-size: 18px;
    margin: 0;
    text-transform: uppercase;
}

.bottomFooter {
    background: #262626;
    padding: 15px 0;
}

.custom-link {
    display: inline-block;
}

.bottomFooter .custom-link li {
    float: left;
    display: inline;
    padding: 0 5px !important;
}

.bottomFooter .custom-link li a {
    line-height: 35px;
}

.bottomFooter .custom-link li a:before {
    display: none;
}

.footer-container #footer .copyright a:hover,
.footer-container #footer .custom-link li a:hover {
    padding: 0;
}

.footer-container #footer .copyright {
    line-height: 30px;
    color: #999999;
    font-size: 14px;
}

.footer-container #footer .copyright a {
    color: #79b6c8;
}

.toggle-footer {
    display: none;
    padding: 0 0 20px;
    @media (min-width: $screen-sm-min) {
        display: block !important;
    }
}

.footer-container footer {
    color: #777777;
}

.footer-container footer .row {
    position: relative;
}

.footer-container footer ul.row {
    position: static;
}

.footer-container footer .footer-block {}

@media (max-width: 767px) {
    .footer-container footer .footer-block h4 {
        margin-bottom: 20px;
        font-size: 14px;
    }
}

.footer-container footer a {
    position: relative;
    color: #8e8e8e;
    font-size: 14px;
}

.footer-container footer li a:hover:before {
    opacity: 1;
}

.footer-container footer li a:hover {
    padding-left: 15px;
    color: #000;
}

.footer-container footer h4 {
    color: #ffffff;
    cursor: pointer;
    margin: 10px 0 30px;
    padding-left: 15px;
    position: relative;
    text-transform: uppercase;
}

.footer-container footer h4:before {
    background: #79b6c8 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 15px;
    left: 0;
    position: absolute;
    width: 2px;
}

.footer-container footer h4 i { 
    display: none;
}

@media (max-width: 767px) {
    .footer-container footer h4 i {
        display: block;
        position: absolute;
        right: 0;
        top: 1px;
    }

    .footer-container footer h4:after {
        display: block;
        content: "\f0fe";
        font-family: "Font Awesome 5 Free";
        position: absolute;
        right: 0;
        top: 1px;
    }
    .footer-container footer h4.active:after {
        content: "\f146";
    }
}

.footer-container footer h4 a {
    color: #fff;
}

.footer-container footer ul li {
    padding-bottom: 15px;
}

.footer-container footer ul li a {
    color: #8e8e8e;
    font-size: 14px;
    padding-left: 15px;
    position: relative;
}

.footer-container footer ul li a i {
    font-size: 7px;
    left: 0;
    position: absolute;
    top: 6px;
}

.footer-container footer ul li a:hover {
    color: #79b6c8;
}

.footer-container footer ul li i {
    font-size: 18px;
}

.footer-container footer .payment {
    margin-top: 20px;
}

.footer-container footer .payment a {
    color: #fff;
    font-size: 24px;
}

.footer-container footer .payment a:hover {
    color: #8e8e8e;
}

@media (max-width: 767px) {
    .footer-container footer #block_contact_infos {
        border: none;
    }
}

.footer-container footer #block_contact_infos>div {}

@media (max-width: 767px) {
    .footer-container footer #block_contact_infos>div {
        padding-left: 0;
    }
}

.footer-container footer #block_contact_infos>div ul li {
    color: #ff5555;
    position: relative;
    font-size: 13px;
    font-weight: bold;
    line-height: 30px;
    overflow: hidden;
    padding: 0 0 0 30px;
    text-transform: uppercase;
}

.footer-container footer #block_contact_infos>div ul li a:before {
    display: none;
}

.footer-container footer #block_contact_infos>div ul li a:hover {
    padding: 0;
}

.footer-container footer #block_contact_infos>div ul li>span,
.footer-container footer #block_contact_infos>div ul li>span a {
    text-transform: none;
    color: #444444;
    font-weight: normal;
}

.footer-container footer #block_contact_infos>div ul li i {
    color: #666666;
    font-size: 20px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 5px;
}

@media (max-width: 767px) {
    .footer-container footer #social_block {
        width: 100%;
        float: left;
        padding-top: 5px;
    }
}

.footer-container footer #social_block ul {
    float: left;
}

@media (max-width: 767px) {
    .footer-container footer #social_block ul {
        float: none;
    }
}

.footer-container footer #social_block ul li {
    float: left;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 55px;

    a i {
        position: static;
        font-size: 24px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .footer-container footer #social_block ul li {
        width: 30px;
    }
}

.footer-container footer #social_block ul li a {
    color: #8e8e8e;
    display: block;
    font-size: 15px;
    padding: 0;
    line-height: 30px;
    text-align: center;
    position: relative;
}

.footer-container footer #social_block ul li a:before {
    border-left: 1px solid #4b4b4b;
    content: "";
    display: block;
    height: 10px;
    position: absolute;
    left: 0;
    top: 8px;
}

.footer-container footer #social_block ul li.facebook a:before {
    display: none
}

.footer-container footer #social_block ul li a:hover {
    color: #79b6c8;
}

.footer-container footer #social_block ul li a span {
    display: none;
}

.footer-container footer .bottom-footer {
    position: absolute;
    bottom: -55px;
    left: 0;
}

.footer-container footer .bottom-footer div {
    padding: 15px 0 0 0;
    border-top: 1px solid #515151;
    width: 100%;
}