label {
	cursor: pointer;
	font-size: 12px;
	font-weight: 400;

	a {
		color: #fff;

		&:hover {
			color: #fff;
		}
	}

	&.error {
		color: #DF2F2F;
	}
}

label.required::after, legend.required::after {
    content: '*';
    color: #DF2F2F;
    margin-left: 5px;
    font-size: 12px;
}

label.error {

}

.label-hint {
	margin-left: 10px;
}

select {
	background-position: right 10px top 50%;  
    background-repeat: no-repeat;
    background-image: url('../img/caret.svg') !important; 

	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
}

textarea.form-control, textarea {
	height: 100px;
	line-height: 1.5;
}

.checkbox-list {
	@extend .clearfix;
	
	.checkbox { 
		display: inline-block;
		margin: 0 20px 0 0;
	}

	.agree-error {
		display: none;
		color: #df2f2f;
	}
}

.checkbox, .radio {
	label {
		font-size: 14px !important;
		text-transform: inherit !important;
	}
}

.checkbox-wrapper {
	display: inline-block;	
	height: 26px;	
	vertical-align: middle;
	position: relative;
	width: 26px;

	input {
		cursor: pointer;
		height: 26px;
		margin: 0 !important;
		opacity: 0;
		position: relative;		
		width: 26px;
		z-index: 2;
	}

	&:after {
		color: lighten($color-gray, 20%);
		font-family: 'Font Awesome 5 Free';
		content: "\f0c8";		
		font-size: 20px;
		height: 30px;
		left: 0;
		position: absolute;
		top: 0;
		width: 30px;
	}

	&.checked:after  {
		color: $color-primary;
		content: "\f14a";
	}	

	.checkbox & {
		margin-left: -22px;
	}
}

.radio-wrapper {
	display: inline-block;
	height: 26px;	
	vertical-align: middle;
	position: relative;
	width: 26px;

	input {
		cursor: pointer;
		height: 26px;
		margin: 0 !important;
		opacity: 0;
		position: relative;			
		width: 26px;
		z-index: 2;
	}

	&:after {
		color: lighten($color-gray, 20%);
		content: "\f111";		
		font-size: 20px;
		height: 30px;
		left: 0;
		position: absolute;
		top: 0;
		width: 30px;
	    -webkit-font-smoothing: antialiased;
	    font-family: 'Font Awesome 5 Free';
	    text-rendering: optimizeLegibility;
	    font-feature-settings: "liga" 1;
	    font-style: normal;
	    text-transform: none;
	    line-height: 1;
	    font-size: 20px;
	    width: 20px;
	    height: 20px;
	    display: inline-block;
	    overflow: hidden;
	}

	&.checked:after  {
		color: $color-primary;
		content: "\f058";	
	}	

	.checkbox &, .radio & {
		margin-left: -22px;
	}
}

.form-control {
	-webkit-font-smoothing: antialiased;
	background-color: transparent;
	border: 0;
	border-radius: 0;
	box-shadow: 0px 1px 0px 0px rgba(#000, 0.12);
	font-size: 14px;
	height: 40px;
	line-height: 28px;
	padding-left: 0;
	padding-right: 0;
	transition: all .15s ease;

	&:active, &:focus {
		box-shadow: 0 2px 0 0 $color-primary;
		outline: none;
	}
}


fieldset {
    margin: 40px 0 10px;

	legend {
		color: #000;
	    font-size: 20px;
	    border: none;
	}	
}

.login-form, .registration-form, .reset-form {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 100%;

	label {
		color: rgba(#fff, .6);
		font-size: 12px;
		margin: 0 0 15px 0;
		text-transform: uppercase;
	}

	h2 {
		color: #fff;
		font-size: 30px;
		font-weight: 400;
		margin: 0 0 50px 0;
		text-align: center;
	}

	.form-group {
		margin: 0 0 30px 0;
	}

	.form-control {
		background-color: #fff;
		border-radius: 3px;
		padding: 13px 16px;
	}

	.form-group-btn {
		@extend .clearfix;

		.btn {
			padding: 10px 25px;
		}
	}

	.form-group-bottom-link {
		@extend .clearfix;

		border-top: 1px solid rgba(#fff, .15);
		clear: both;
		margin: 20px 0 0 0;
		padding: 5px 0 0 0;

		a {
			color: #fff;
			line-height: 40px;

			&:hover {
				text-decoration: none;
			}
		}

		.fa {
			margin: 0 10px;
		}
	}
}