a:hover {
    text-decoration: none;
}

.hidden-sm {
    display: none;
    @media (min-width: $screen-sm-min) {
        display: block;
    }
}
@media only screen and (min-width: 1200px) {
    .container {
        padding-left: 0;
        padding-right: 0;
    }
}
body {
    min-width: 320px;
    height: 100%;
    line-height: 25px;
    font-size: 13px;
    color: #606060;
    font-family: 'Montserrat', sans-serif;
}

body.content_only {
    background: none;
}

.green {
    color: green;
}

.page-loader {
    text-align: center;
    padding: 250px 0;
    background: rgba(0,0,0,.5);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    color: #fff;
    font-size: 20px;
}

.account-back {
    position: absolute;
    right: 15px;
    top: 0;
    width: 90px;
}

.table > tbody > tr > td {
    vertical-align: middle;
}
textarea {
    resize: none;
}

label.required::after {
    content: '*';
    color: #DF2F2F;
    margin-left: 5px;
    font-size: 12px;
}

.important {
    color: #DF2F2F;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.paragraph {
    h2 {
        font-size: 20px;
        color: #000;
    }    

    ul {
        list-style: initial;
        padding-left: 40px;
        margin-bottom: 10px;
    }

    ol li, ul li {
        padding-left: 5px;
    }

    .address-container {
        margin: 10px;
        address {
            line-height: 24px;
        }
    }

    .faq {
        list-style: none;
        margin: 20px 0;
        padding: 0;

        li {
            margin-bottom: 30px;
            padding: 0;
        }
        
        &__question {
            font-weight: bold;
            font-size: 14px;
        }

        &__answer {
            margin: 10px;
        }
    }
}

.underline {
    text-decoration: underline;
}

.media-body {
    width: auto;
}

.content-wrapper {
    min-height: 500px;
}

.columns-container {
    background: #fff;
    margin-bottom: 40px;
}
#columns {
    position: relative;
}
#index .tab-content {
    margin-top: 20px;
    margin-bottom: 20px;
}

.business-detail {
    display: none;
}

/* breadcrumb */
.labbreadcrumb {} .breadcrumb-i {
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 30px;
}
.breadcrumb {
    padding: 15px 0;
    color: #79b6c8;
    font-size: 14px;
    margin: 0;
    background: none;
    display: inline-block;
}
.breadcrumb .navigation-pipe {
    background: url("/assets/img/bg_navigation-pipe.png") no-repeat scroll center center;
    display: inline-block;
    padding: 0 15px;
    text-indent: -999em;
}
.breadcrumb a {
    display: inline-block;
    position: relative;
}
.breadcrumb a,
.breadcrumb span {
    color: #000;
}
.breadcrumb a:hover {
    color: #79b6c8;
}

.page-heading {
    color: #222222;
    font-size: 28px;
    font-weight: 700;
    margin: 0 0 20px;
    overflow: hidden;
    padding: 0 0 20px;
    position: relative;
    text-align: center;
}

.product-name {
    color: #333333;
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
    margin: 0;
}
.product-name a {
    color: #0e0e0e;
    font-size: 16px;
    line-height: 23px;
}
.product-name a:hover {
    color: #79b6c8;
}
@media (max-width: 768px) {
    .product-name a {
        font-size: 14px;
    }
}
.price {
    color: #000;
    font-size: 15px;
    white-space: nowrap;
}
.price.product-price {
    color: #23363c;
}
.old-price {
    color: #7a7a7a;
    text-decoration: line-through;
}
.old-price.product-price {
    font-size: 14px;
    margin: 0 5px;
}
.special-price {
    color: #f13340;
}
.price-percent-reduction {
    background: #f13340;
    border: 1px solid #d02a2c;
    font: 600 21px/24px "Open Sans", sans-serif;
    color: #fff;
    padding: 0 5px 0 3px;
    display: inline-block;
}
.price-percent-reduction.small {
    font: 700 14px/17px Arial, Helvetica, sans-serif;
    padding: 1px 6px;
}
.new-label,
.sale-label {
    background: #79b6c8;
    color: #fff;
    display: block;
    font-size: 11px;
    font-weight: normal;
    height: 28px;
    right: 15px;
    line-height: 28px;
    padding: 0 10px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 11px;
    z-index: 10;
    min-width: 50px;
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.new-label:after,
.sale-label:after {
    border: 7px solid #79b6c8;
    border-color: #79b6c8 transparent transparent #79b6c8;
    border-width: 7px 5px;
    position: absolute;
    right: -10px;
    top: 0;
    content: '';
}
.new-label:before,
.sale-label:before {
    border: 7px solid #79b6c8;
    border-color: transparent transparent #79b6c8 #79b6c8;
    border-width: 7px 5px;
    position: absolute;
    right: -10px;
    bottom: 0;
    content: '';
}
.sale-label {
    background: #535353;
}
.sale-label:after {
    border-color: #535353 transparent transparent #535353;
}
.sale-label:before {
    border-color: transparent transparent #535353 #535353;
}
.box {
    background: #fbfbfb;
    border: 1px solid #d6d4d4;
    padding: 14px 18px 13px;
    margin: 0 0 30px 0;
    line-height: 23px;
}
.box p {
    margin-bottom: 0;
}
.box.box-small {
    padding: 9px 10px 9px 20px;
}
.box.box-small .dark {
    padding-top: 10px;
    padding-right: 20px;
    margin-bottom: 0;
    width: auto;
}
.page-product-box {
    padding-bottom: 10px;
}
.product-box {
    width: 178px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.product-box .product-image {
    border: 1px solid #d6d4d4;
    background: white;
    padding: 5px;
    display: block;
    margin-bottom: 11px;
}
.product-box .product-image img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.social-container {
    margin-bottom: 40px;
}

.agreement {
    margin: 20px 0;
}

.store-filter {
    padding: 18px 20px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
    margin: 0;

    i {
        position: absolute;
        top: 32px;
        font-size: 20px;
        color: #000;
        left: 40px;
    }

    &-input {
        width: 100%;
        padding: 10px 30px 10px 55px;
        border: 1px solid #e5e5e5;
    }
}

.store-label {
    font-weight: bold;
    text-transform: uppercase;
    &.distributor {
        color: #79b6c8;
    }
}

.store-list {
    max-height: 460px;
    overflow-y: scroll;
    li {
        cursor: pointer;
        padding: 15px 30px;
        border-bottom: 1px solid #e5e5e5;
        position: relative;

        address {
            margin: 5px 0;
            text-transform: uppercase;
        }

        .store-distance {
            color: #8d8d8d;
        }

        i {
            position: absolute;
            right: 30px;
            font-size: 16px;
            top: 50%;
            margin-top: -8px;
        }
    }
}

#store-map {
    width: 100%; 
    min-height: 545px;
}

.info-window {
    font-family: 'Montserrat', sans-serif;
    padding: 10px;

    .store-name {
        font-size: 16px;
        font-weight: bold;
    }

    .store-distance {
        font-size: 12px;
        color: #8d8d8d;
        margin: 5px 0 10px 0;
    }
}


.popup-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    z-index: 10000;
    display: none;
    .overlay-bg-popup {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
    }

    .popup-content-wrapper {
        max-width: 870px;
        width: 90%;
        height: auto;
        margin: 5% auto 0;
        padding: 60px;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: left top;
        position: relative;
        text-align: left;
        -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);

        .popup-content-text {
            font-size: 13px;
            line-height: 1.5;
            color: #666;

            h3, h4 {
                color: #333;
                font-size: 24px;
                text-transform: uppercase;
                letter-spacing: 2px;
                padding: 50px 0 0 0px;
                margin-bottom: 20px;
            }
        }

        .not-again {
            position: absolute;
            right: 60px;
            bottom: 60px;
            font-weight: 400;

            input {
                margin-right: 10px;
            }
        }

        .close-popup {
            background: #79b6c8;
            border-radius: 100%;
            cursor: pointer;
            display: block;
            height: 40px;
            line-height: 38px;
            position: absolute;
            right: -20px;
            text-align: center;
            top: -20px;
            width: 40px;
            z-index: 2;
            -webkit-transition: all .3s ease;
            transition: all .3s ease;
            color: #fff;
            &:hover {
                opacity: 0.8;
            }
        }
    }
}

#instagram-popup {
    .popup-content-wrapper {
        padding: 0;
    }

    .image-container {
        position: relative;
        color: #fff;
        display: none;
        .social-layer {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            padding: 20px;
            background-color:rgba(0, 0, 0, 0.5);
            text-align: center;
            font-size: 24px;

            span {
                margin-left: 5px;
            }

            .likes {
                margin-right: 15px;
            }
        }

        .caption {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 20px;
            background-color:rgba(0, 0, 0, 0.8);
        }

    }

    .video-container iframe{
        max-width: 100%;
        border: none;
    }

    .text-container {
        padding: 20px;
        clear: both;

        @media (min-width: $screen-sm-min) {
            padding: 30px 30px 0 0;
        }

        h3 {
            font-size: 18px;
            text-align: center;
            text-decoration: underline;
            @media (min-width: $screen-sm-min) {
                font-size: 24px;
                text-decoration: none;
            }
        }

        .product__image {
            width: 40%;
            float: left;
            @media (min-width: $screen-sm-min) {
                float: none;
                width: 100%;
            }
        }

        .author span {
            font-size: 20px;
            color: #999;
            margin-left: 10px;
        }

        .product-name {
            margin-top: 25px;
            margin-left: 20px;
            float: left;
            width: 50%;
            @media (min-width: $screen-sm-min) {
                float: none;
                width: 100%;
                margin-top: 10px;
                margin-left: 0;
            }
        }
    }
}

.order-status {
    &.pending {
        color: #46b8da;
    }

    &.refunded {
        color: #d9534f;
    }

    &.completed {
        color: #337ab7;
    }
}

ul.product_list .color-list-container {
  margin-bottom: 12px; }
  ul.product_list .color-list-container ul li {
    border: 1px solid #d7d7d7;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    -ms-border-radius:100%;
    -o-border-radius:100%;
    border-radius:100%;
    display: inline-block;
    height: 25px;
    width: 25px;}
    ul.product_list .color-list-container ul li a {
        -webkit-border-radius:100%;
        -moz-border-radius:100%;
        -ms-border-radius:100%;
        -o-border-radius:100%;
        border-radius:100%;
        display: block;
        height: 21px;
        margin: 1px;
        width: 21px;}
      ul.product_list .color-list-container ul li a img {
        display: block;
        width: 22px;
        height: 22px; }
@media (min-width: 992px) {
    ul.product_list.grid > li.first-in-line {
      clear: left; } }
  @media (min-width: 480px) and (max-width: 991px) {
    ul.product_list.grid > li.first-item-of-tablet-line {
      clear: left; } }
ul.product_list.grid li.hovered h5 {
  min-height: 30px; }

.slick-container {
    visibility: hidden;
}
.slick-initialized {
    position: relative;
}

.products_block {
    .slick-initialized {
        visibility: visible!important;
    }
}
.slick-list {
    overflow: hidden;
}

a.slick-arrow {
    background: #ebebeb;
    border: 1px solid #ebebeb;
    color: #fff;
    display: block;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    top: 42%;
    width: 30px;
    cursor: pointer;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    &.slick-disabled {
        visibility: hidden;
    }
}

.slick-slide {
    float: left;
}
a.slick-arrow:hover {
    background-color: #79b6c8;
    border-color: #79b6c8;
}
a.slick-arrow.prev {
    padding-right: 2px;
    z-index: 99;
    left: -10px;
}
a.slick-arrow.next {
    right: 5px;
    padding-left: 2px;
    @media (min-width: $screen-sm-min) {
      right: -10px;
    }
}

.slick-dots {
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    li {
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
        button {
            border: 0;
            background: transparent;
            display: block;
            height: 20px;
            width: 20px;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            padding: 5px;
            cursor: pointer;
            &:hover, &:focus {
                outline: none;
                &:before {
                    opacity: 0.25;
                }
            }
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: "\2022";
                width: 20px;
                height: 20px;
                font-family: 'FontAwesome';
                font-size: 18px;
                line-height: 20px;
                text-align: center;
                color: black;
                opacity: 0.25;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
        &.slick-active button:before {
            color: black;
            opacity: 0.75;
        }
    }
}
.lab_title {
    text-align: center;
    margin-bottom: 30px;
}
.lab_title h4 {
    color: #333333;
    display: inline-block;
    font-size: 20px;
    margin: 0;
    position: relative;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.lab_title h4:before {
    border-bottom: 1px solid #dddddd;
    bottom: 0;
    content: "";
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 70px;
}

.title_block{
    text-align:left;
    margin-bottom:30px;
    font-weight: 700;
    text-transform: uppercase;
}
.title_block span{
    font-size:15px;
    position:relative;
    padding-bottom:20px;
    color:#333333;
    font-weight: 400;
}
.title_block span:before{
    border-bottom: 3px solid #333333;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    width: 30px;
}

.lablistproducts .right-block .lab-cart {
    font-size: 20px;
}
.lablistproducts.grid .right-block .lab-cart .button {
    background: none;
    border: medium none;
    color: #5b5b5b;
    font-size: 20px;
    text-shadow: 0 0 0;
}
.lablistproducts.grid .right-block .lab-cart .button:hover {
    color: #79b6c8;
}
.lablistproducts .right-block .lab-cart span {
    display: none;
}
.labcolumn .lab_boxnp2 {
    position: absolute;
    right: 10px;
    top: 0;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.lab_boxnp2 a {
    background: #dbdcdc;
    border: 1px solid #dbdcdc;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    height: 30px;
    line-height: 27px;
    margin: 0 2px;
    text-align: center;
    width: 30px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
}
.lab_boxnp2 a:hover {
    background-color: #79b6c8;
    border-color: #79b6c8;
    color: #fff;
}

.rating {
    clear: both;
    display: block;
    margin: .5em 0;
    color: #fa5400;
    font-size: 14px;
    span {
        margin-left: 5px;
    }
}
.cancel,
.star {
    overflow: hidden;
    float: left;
    margin: 0 1px 0 0;
    width: 16px;
    height: 16px;
    cursor: pointer;
}
.cancel,
.cancel a {
}
.cancel a,
.star a {
    display: block;
    width: 100%;
    height: 100%;
    background-position: 0 0;
}
div.star_on a {
    background-position: 0 -16px;
}
div.star_hover a,
div.star a:hover {
    background-position: 0 -32px;
}
.pack_content {
    margin: 10px 0 10px 0;
}


.block {
    margin-bottom: 30px;
}
@media (max-width: 767px) {
    .block {
        margin-bottom: 0px;
    }
}
@media (max-width: 767px) {
    .block .block_content {
        margin-bottom: 20px;
    }
}
.block .title_block,
.block h4 {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    margin: 0 0 20px;
    padding: 0 0 20px;
    position: relative;
    text-transform: uppercase;
}
.block .title_block:before,
.block h4:before {
    border-bottom: 3px solid #303030;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    width: 30px;
}

.mypresta_scrollup {
    display: block;
    right: 0;
    opacity: 1;
    position: fixed;
    text-align: center;
    bottom: 0;
    padding: 15px;
    opacity: 0;
    z-index: 999;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;

    span {
        background: #79b6c8;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
        border-radius: 100%;
        color: #fff;
        display: block;
        font-size: 14px;
        height: 45px;
        line-height: 45px;
        width: 45px;
        -webkit-transition: all 300ms ease;
        -moz-transition: all 300ms ease;
        -ms-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;
    }

    &.open {
        opacity: 1;
        bottom: 0;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .block .title_block,
    .block h4 {
        font-size: 14px;
    }
}
@media (max-width: 767px) {
    .block .title_block,
    .block h4 {
        position: relative;
    }
    .block .title_block:after,
    .block h4:after {
        cursor: pointer;
        display: block;
        font-family: "FontAwesome";
        content: "\f196";
        position: absolute;
        right: 0;
        top: 1px;
        height: 18px;
        width: 18px;
        font-size: 18px;
        font-weight: normal;
    }
    .block .title_block.active:after,
    .block h4.active:after {
        content: "\f147";
    }
}
.block .title_block a,
.block h4 a {
    color: #555454;
}
.block .title_block a:hover,
.block h4 a:hover {
    color: #333;
}
.block .list-block {
    margin-top: -8px;
}
@media (max-width: 767px) {
    .block .list-block {
        margin-top: 0;
    }
}
.block .list-block li {
    padding: 5px 0 6px 20px;
    border-top: 1px solid #d6d4d4;
}
.block .list-block li a i {
    display: none;
}
.block .list-block li a:before {
    content: "\f105";
    display: inline;
    font-family: "FontAwesome";
    color: #333;
    padding-right: 8px;
}
.block .list-block li a:hover {
    color: #333;
    font-weight: bold;
}
.block .list-block li:first-child {
    border-top: none;
}
.block .list-block .form-group {
    padding-top: 20px;
    border-top: 1px solid #d6d4d4;
    margin-bottom: 0;
}
.block .list-block .form-group select {
    max-width: 270px;
}
@media (max-width: 767px) {
    .block .list-block .form-group select {
        width: 270px;
    }
}
.block .list-block .btn {
    margin-top: 12px;
}
.block .products-block li {
    padding: 0 0 10px 0;
    margin-bottom: 10px;
}
.block .products-block li .products-block-image {
    float: left;
    margin-right: 15px;
}
@media (min-width: 768px) and (max-width: 991px) {
    .block .products-block li .products-block-image {
        float: none;
        display: inline-block;
        margin: 0 auto 10px;
        text-align: center;
    }
}
.block .products-block li .product-content {
    overflow: hidden;
}
.block .products-block li .product-content h5 {} .block .products-block .product-name {
    font-size: 15px;
    line-height: 18px;
}
.block .products-block .product-description {
    margin-bottom: 14px;
}
.block .products-block .price-percent-reduction {
    font: 700 14px/17px Arial, Helvetica, sans-serif;
    padding: 1px 6px;
}

.pagenotfound {
  max-width: 824px;
  margin: 100px auto 100px auto;
  text-align: center; }
  .pagenotfound .img-404 {
    padding: 8px 0 27px 0; }
    .pagenotfound .img-404 img {
      max-width: 100%; }
  .pagenotfound h1 {
    font: 600 28px/34px "Open Sans", sans-serif;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 7px; }
  .pagenotfound p {
    font: 600 16px/20px "Open Sans", sans-serif;
    color: #555454;
    text-transform: uppercase;
    border-bottom: 1px solid #d6d4d4;
    padding-bottom: 19px;
    margin-bottom: 20px; }
  .pagenotfound h3 {
    font-weight: bold;
    color: #333;
    font-size: 13px;
    line-height: normal;
    margin-bottom: 18px; }
  .pagenotfound label {
    font-weight: normal; }
    @media (max-width: 767px) {
      .pagenotfound label {
        display: block; } }
  .pagenotfound .form-control {
    max-width: 293px;
    display: inline-block;
    margin-right: 5px; }
    @media (max-width: 767px) {
      .pagenotfound .form-control {
        margin: 0 auto 15px auto;
        display: block; } }
  .pagenotfound .buttons {
    padding: 48px 0 20px 0; }
    .pagenotfound .buttons .button-medium i.left {
      font-size: 17px; }