header {
    z-index: 999;
    position: relative;
    background: #fff;
}
header .banner {
    background: black;
    max-height: 100%;
}
header .banner .row {
    margin: 0px;
}
header .nav {
    border-bottom: 1px solid #E5E5E5;
}
header .nav .row {
    margin: 0px;
}
header .nav nav {} header .row {
    position: relative;
}
header .row > .container {
    position: relative;
}

.mobile-menu {
  line-height: 68px;
  font-size: 18px;
  color: #000;
  margin-left: 30px;
  float: right;
  @media (min-width: $screen-sm-min) {
    display: none;
  }
}


.header-banner {
    background-color: #f7f7f7;
    border-bottom: 1px solid #e5e5e5;

    .notification {
        width: 100%;
        overflow: hidden;
        margin: 0 auto;
        padding: 0 15px;
        @media (min-width: $screen-sm-min) {
          width: 768px;
        }
        &__content {
            height: 60px;
            display: table;
            margin: auto;
            color: #222;
            span {
                display: table-cell;
                vertical-align: middle;
            }
            &__title {
                font-size: 14px;
            }

            &__subtitle {
                font-size: 10px;
                padding-left: 10px;
                @media (min-width: $screen-sm-min) {
                  font-size: 12px;
                }
            }
        }
    }
}

.labfixed .labHeader{
    left: 0;
    padding:0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
  }
  .labfixed .labHeader #layer_cart{
    top: 69px !important;
  }

.labHeader {
    background: #fff;
    min-height: 68px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    border-bottom: 1px solid #E5E5E5;
    position: relative;
}
.labHeader > .row {
    margin: 0;
}
#header_logo {
    position: absolute;
    z-index: 10;
    top: 12px;

}
#header_logo a {
    display: inline-block;
}

.user-information li a {
    color: #707070;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    line-height: 45px;
    padding: 0 15px;
    position: relative;
    text-transform: uppercase;
}
.user-information li.labLogin a {
    padding-right: 0;
}

img {max-width:100%;}
.labmegamenu{
    text-align:center;
}

.labmegamenu .current.active{
    z-index:99;
    position:relative;
}
.labmegamenu .toogle_content{
    position: relative;
    z-index: 99;
    clear:both;
}
.labmegamenu .current.active:before{
    background: rgba(0, 0, 0, 0.9);
    bottom: 0;
    content: "";
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}
.lab-menu-horizontal {
  position: relative;
}
.lab-menu-horizontal li .menu-subtitle{position: absolute;top: 0;line-height: 13px;margin-top: -13px;font-size:8px;padding:0 4px; background:#fe3233;color:#fff;right:0;}
.lab-menu-horizontal li.level-1 .img-icon{max-width:20px;}

.lab-menu-horizontal ul{ margin:0;}
.lab-menu-horizontal .menu-content{
  text-align:center;
  display: none;
}
.lab-menu-horizontal li.level-1 {
  float:left;padding:0 15px; transition: all 0.4s ease 0s;  -moz-transition: all 0.4s ease 0s;-webkit-transition: all 0.4s ease 0s; }
.lab-menu-horizontal li.level-1 > a {line-height:42px;position:relative; }
.lab-menu-horizontal ul li.level-1 > a{line-height: 60px;position:relative;font-family: 'Montserrat', sans-serif;font-size:12px;font-weight:400;color:#000;}
/* .lab-menu-horizontal ul li.level-1:hover > a{color:#ff3232; transition: all 0.4s ease 0s;  -moz-transition: all 0.4s ease 0s;-webkit-transition: all 0.4s ease 0s;}*/.lab-menu-horizontal li.level-1{ display: block;}
.lab-menu-horizontal li.level-1.parent > a:after{
    
}
.cat-drop-menu li {position: relative;}
.lab-menu-horizontal .menu-dropdown li a {
    padding:15px 0; 
    display: block;
    color: #7d7d7d;
    font-size: 14px;
}
.lab-menu-horizontal .menu-dropdown.cat-drop-menu li a{
    color: #7d7d7d;
    display: block;
    font-size: 14px;
    padding: 15px 0;
}

.lab-menu-horizontal .menu-dropdown {
  .html-block {
    h4 {
      font-size: 14px;
      height: 30px;
    }
  }
}
.lab-menu-horizontal .menu-dropdown li a .icon{
    display:none;
}
.lab-menu-horizontal .menu-dropdown li:first-child > a{border-top:none;}
.clearfix {clear:both}
.lab-menu-horizontal ul li h2{
    margin:0;
}
.lab-menu-horizontal ul li h2 a {
    margin-bottom: 5px;
    padding-bottom: 10px;
    position:relative;
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
    text-transform:uppercase;
    font-weight:700;
    color:#3c3c3c;
    border:none !important;
    padding-left:10px !important;
}
.lab-menu-horizontal ul li h2 a:before{
    background: #79b6c8 none repeat scroll 0 0;
    content: "";
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    top: 13px;
    width: 2px;
}
/* .lab-menu-horizontal ul li.item-line a{text-transform: lowercase;} */
.lab-menu-horizontal ul li.level-1 ul li a{color:#7d7d7d;}
.lab-menu-horizontal ul li.level-1 ul li a:hover{color:#79b6c8;}

.lab-menu-horizontal ul li.level-1 ul li.parent:hover:after{color:#79b6c8;}


/****reponsive****/
@media (min-width: 768px ) 
{ 
.lab-menu-horizontal    ul.menu-content{
    display: inline-block !important;
    height: auto !important;
 }
.lab-menu-horizontal .menu-dropdown
{
min-height: 50px;
  display: block;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(0px,20px);
  -webkit-transform: translate(0,20px);
  -moz-transform: translate(0,20px);
  -o-transform: translate(0,20px);
  -ms-transform: translate(0,20px);
  transition: opacity 0.5s ease 0s,transform 0.5s ease 0s;
  -moz-transition: opacity 0.5s ease 0s,-moz-transform 0.5s ease 0s;
  -webkit-transition: opacity 0.5s ease 0s,-webkit-transform 0.5s ease 0s;
  -ms-transition: opacity 0.5s ease 0s,-ms-transform 0.5s ease 0s;
  visibility: hidden;

}
.lab-menu-horizontal ul li.level-1:hover > .menu-dropdown, .lab-menu-horizontal ul li.level-2:hover > .menu-dropdown
{
  opacity: 1;
  filter: alpha(opacity=100);
  transform: translate(0px,0px);
  -webkit-transform: translate(0px,0px);
  -moz-transform: translate(0px,0px);
  -o-transform: translate(0px,0px);
  -ms-transform: translate(0px,0px);
  visibility: visible;
}
.title-menu-mobile,.icon-drop-mobile{display:none;}
.lab-menu-horizontal ul li.level-1 > a.active,
.lab-menu-horizontal ul li.level-1 > a:hover{
    transition: all 0.4s ease 0s; color:#79b6c8; -moz-transition: all 0.4s ease 0s;-webkit-transition: all 0.4s ease 0s;
}
.lab-menu-horizontal ul li.level-1 > a > i{
    padding-left: 4px;
}
/* .lab-menu-horizontal ul li.level-1 > a:before{
    border-bottom: 2px solid #ccc;
    bottom: -10px;
    content: "";
    left: 0;
    position: absolute;
    width: 0;
    opacity:0;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
} */
.lab-menu-horizontal ul li.level-1 > a.active:before,
.lab-menu-horizontal ul li.level-1 > a:hover:before{
    opacity:1;
    width: 20px;
}
.lab-menu-horizontal li.level-1{}
.lab-menu-horizontal li.level-1.parent > a ,.lab-menu-horizontal li.level-1#more_menu  > a{padding:0 15px;z-index:1001;}
.lab-menu-horizontal .menu-dropdown{
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 9999;
}
.lab-menu-horizontal .menu-dropdown.lab-sub-menu{
    padding:20px 30px 30px;
}
.cat-drop-menu li {position: relative; width: 220px;}
.cat-drop-menu li  a{margin:0 15px;}
.lab-menu-horizontal li.level-2 .menu-dropdown{  left: 100%;top:0;}
.lab-menu-horizontal .menu-dropdown.lab-sub-right{right:0;}
.lab-menu-horizontal .menu-dropdown.lab-sub-left{left:0;}
.lab-menu-horizontal .menu-dropdown.lab-sub-center{left:0;right:0;margin:0 auto;}
.lab-menu-horizontal ul li.level-1 ul li.parent:after{ 
  content: "\f054";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  right: 18px;
  top: 12px;
  font-size: 10px;color:#b3b3b3;
}
#more_menu .menu-dropdown{right:0;}
#more_menu .menu-dropdown  .menu-dropdown{display:none;}


}
@media only screen and (min-width : 768px) and (max-width : 1199px)
{
    .lab-menu-horizontal li.level-1.parent > a ,.lab-menu-horizontal li.level-1#more_menu  > a{padding:0 10px;}
    .lab-menu-horizontal ul li.level-1 > a::before{
        left:10px;
    }
}
@media (max-width: 767px ) 
{
.lab-menu-horizontal .menu-dropdown{display:none;}
.lab-menu-horizontal li.level-1{
  display: block;
  position: relative;
  cursor: pointer;
  padding: 0;
  border-bottom: 1px solid #f2f2f2;width:100%;
}
.lab-menu-horizontal li.level-1:last-child{
  border-bottom: none;
}
.lab-menu-horizontal li.level-1 > a{padding:0;}
.title-menu-mobile span{padding:16px 10px; color: #79b6c8;font-size: 15px;font-weight: 600;display: block;text-transform: uppercase;}
.title-menu-mobile span:after {
 content: "\f039";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
   float:right;
  font-size: 14px;color:#79b6c8; cursor:pointer;
}
.icon-drop-mobile{
    bottom: 0;
    line-height:50px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
    padding: 0 20px;
  }
.icon-drop-mobile:after{ 
  content: "\f0fe";
  font-family: "Font Awesome 5 Free";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;color:#79b6c8;cursor:pointer;
}
.icon-drop-mobile.opened:after
{
content:"\f146";
}

.lab-menu-horizontal .menu-dropdown.lab-sub-menu{padding:0;}
.lab-menu-horizontal ul li ul {margin-left:10px;}
.lab-menu-horizontal ul li.level-1 ul li a{color:#333;}
.lab-menu-horizontal ul li.level-1 ul li a:hover{color:#79b6c8;}
.lab-menu-horizontal ul li.level-1 ul li.parent:hover:after{color:#2b2b2b;}
.lab-menu-horizontal ul li.level-1:hover > a{color:#2b2b2b; transition: all 0.4s ease 0s;  -moz-transition: all 0.4s ease 0s;-webkit-transition: all 0.4s ease 0s;}
}
.lab-menu-sticky{
    position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background:#c60120;
  padding-top: 0 !important;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  text-align:center;
 }
 .lab-menu-sticky.lab-menu-horizontal li.level-1{float:none;display:inline-block;}
 .lab-menu-sticky.lab-menu-horizontal li.level-1 a {text-align:left;}

@media (min-width: 768px) and (max-width: 991px) {
  .lab-menu-horizontal li.level-1 {
    padding: 0;
  }
  #header_logo {
    top: -40px
  }
     .lab-menu-horizontal .menu-dropdown.lab-sub-menu {
        padding: 0 10px;
    }
    .lab-menu-horizontal li.bg_menu .lab-sub-menu{
        background:#fff;
    }
}
@media (max-width: 767px){
    .labmegamenu {
        height: auto;
        text-align: left;
        padding: 0;
        &.container {
          &::before, &::after {
            content: none
          }
        }
    }

    .lab-menu-horizontal ul li.level-1 > a i{display:none;}
    .lab-menu-horizontal li.bg_menu .lab-sub-menu{
        background:#fff;
    }
    .lab-menu-horizontal{
        height: auto;
        background:none;
        margin-left: -15px;
        margin-right: -15px;
        clear: both;
        &.show {
          border-top: 1px solid #e5e5e5;
          .menu-content {
            display: block;
          }
        }
    }
    .lab-menu-horizontal ul li.level-1 > a{
        line-height: 50px;
        color: #333;
    }
    .lab-menu-horizontal li.level-1{
        background-color:#fff;
    }
}