.header-video {
    position: relative;
    overflow: hidden;
    background-size: 0;

    @media (max-width: $screen-sm-min) {
        height: auto !important;
        background-size: cover;
    }
}

.video-overlays {
    background-color: rgba(0,0,0,0.55);
}
.banner-videos {
    max-height: auto;
}

@media only screen and (max-width: 768px) {
    .video-wrap {
        display: none;
    }
    .video-overlays {
        display: block;
    }
}
@media only screen and (min-width: 769px){
    .video-wrap > video {
        display:block;
        width: 100%;
        height: 100%;
        position: relative;
    }
    .video-overlays > img {
        display: none;
    }
}

#hero_video {
    background-size: cover;
    color: #fff;
    font-size: 16px;
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    display: none;

    .intro_title {
	    display: table-cell;
	    vertical-align: middle;
	    text-align: center;

	    h3 {
	    	font-size: 45px;
		    margin-bottom: 5px;
		    color: #fff;
		    font-weight: 700

		    strong span {
		    	color: #fff;
		    }
	    }
	}

    .indicator {
        position: absolute;
        width: 100%;
        bottom: 8%;
        text-align: center;
        left: 0;
        right: 0;
        display: none;
        @media (min-width: $screen-sm-min) {
            display: block;
        }
        &::before {
            position: absolute;
            margin-left: 18px;
            top: 40px;
            width: 2px;
            height: 200px;
            background-color: #fff;
            content: ' ';
            @media (min-width: $screen-sm-min) {
                margin-left: 28px;
                top: 50px;
            }
        }
        .button_intro {
            background: #000;
            border-radius: 50%;
            padding: 6px 10px;
            display: inline-block;
            font-size: 16px;
            color: #fff;
            border: 2px solid #fff;
            -webkit-transform: translate(-50%,-50%);
            -moz-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);

            @media (min-width: $screen-sm-min) {
                padding: 14px 18px;
                font-size: 20px;
            }
            

            i {
                position: relative;
                transition: all 0.3s ease-out;
                -webkit-transition: all 0.3s ease-out;
                -moz-transition: all 0.3s ease-out;
                -o-transition: all 0.3s ease-out;
            }

            &:hover {
                i {
                    top: 2px;
                }
            }
        }
    }

	a.video {
		display: none
	}
}



iframe,
video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}
video {
    width: 100%
}
.header-video--media,
.teaser-video {
    width: 100%;
    height: auto
}


.feature-product {
	margin: 10px 0;
    position: relative;

    &__content {
        width: 100%;
        max-width: 100%;
        font-size: 15px;
        padding: 0 0 25px;
        top: 0;
        text-align: center;
        @media (min-width: $screen-sm-min) {
            position: absolute;
            text-align: left;
            width: 500px;
            padding: 30px;
        }
    }

    &__heading {
        color: #000;
        font-size: 14px;
        @media (min-width: $screen-sm-min) {
            font-size: 26px;
        }
    }

    &__button{
        background: #000;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        display: inline-block;
        padding: 4px 20px;
        box-sizing: border-box;
        text-align: center;
        text-decoration: none;
        color: #fff;
        font-size: 12px;
        min-width: 130px;
        border-radius: 2px;
        font-weight: bold;

        @media (min-width: $screen-sm-min) {
            font-size: 14px;
            padding: 8px 20px;
        }

        &:hover {
            background-color: #282828;
            color: #fff;
        }
        i {
            font-size: 12px;
            margin-left: 3px;
        }
    }
	img {
		width: 100%;
	}
}


.social-container {

    h3 {
        text-align: left;
        margin-bottom: 20px;
        font-size: 15px;
        padding-bottom: 20px;
        font-weight: 400;
        position: relative;
        &::after {
            border-bottom: 3px solid #333333;
            bottom: 0;
            content: "";
            left: 0;
            position: absolute;
            width: 30px;
        }

        a {
            color: #333;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    &.instagram {
        img {
            -webkit-transition: all 300ms ease;
            -moz-transition: all 300ms ease;
            -ms-transition: all 300ms ease;
            -o-transition: all 300ms ease;
            transition: all 300ms ease;
        }

        a:hover img {
            -moz-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -o-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
        }

        ul {
            position: relative;

            li {
                margin-bottom: 10px;
            }
        }
    }

    
    
    .videoWrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        height: 0;
        margin-bottom: 20px;
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

/* static block */

.static-block-sale {
    border: 1px dashed #c2c2c2;
    margin: 0 15px;
    padding: 15px;
    position: relative;
    text-align: center;
    cursor: pointer;
    margin-bottom: 90px
}
.static-block-sale p {
    color: #1f1f1f;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 60px;
    font-weight: 700;
    margin: 0;
}
.static-block-sale i {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    font-size: 33px;
    position: absolute;
    right: -27px;
    top: 0;
    color: #c2c2c2;
}
.static-block-sale .hurry-up {
    background: #79b6c8 none repeat scroll 0 0;
    color: #fff;
    font-size: 13px;
    font-weight: 900;
    line-height: 30px;
    padding: 0 10px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 10px;
    -webkit-transition: letter-spacing .6s ease;
    -moz-transition: letter-spacing .6s ease;
    -ms-transition: letter-spacing .6s ease;
    -o-transition: letter-spacing .6s ease;
    transition: letter-spacing .6s ease;
}
.static-block-sale .hurry-up:before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #79b6c8 #79b6c8 transparent transparent;
    border-width: 7px 5px;
    border-image: none;
    border-style: solid;
    content: "";
    display: block;
    height: 10px;
    left: -10px;
    position: absolute;
    top: 0;
    width: 10px;
}
.static-block-sale .hurry-up:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent #79b6c8 #79b6c8 transparent;
    border-width: 7px 5px;
    border-image: none;
    border-style: solid;
    content: "";
    display: block;
    height: 10px;
    left: -10px;
    position: absolute;
    bottom: 0;
    width: 10px;
}
.static-block-sale:hover .hurry-up {
    letter-spacing: 2px;
}

.lab_static {
    overflow: hidden;
    margin-bottom: 0;
    clear: both;
    margin-top: 20px;
}
.lab_static .img {
    margin-bottom: 20px;
}
.lab_static img {
    width: 100%;
    height: auto;
    -webkit-transition: all 900ms ease;
    -moz-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    transition: all 900ms ease;
}
.lab_static .img a {
    position: relative;
    display: block;
    overflow: hidden;
}
.lab_static .img a:hover img {
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
.lab_static .img a:before {
    background: rgba(255, 255, 255, 0.2);
    bottom: 0;
    content: "";
    left: 50%;
    position: absolute;
    right: 50%;
    top: 0;
    opacity: 0;
    z-index: 99;
}
.lab_static .img a:after {
    z-index: 99;
    background: rgba(255, 255, 255, 0.2);
    bottom: 50%;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    opacity: 0;
}
.lab_static .img a:hover:before {
    left: 0;
    right: 0;
    opacity: 1;
    -webkit-transition: all 900ms ease;
    -moz-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    transition: all 900ms ease;
}
.lab_static .img a:hover:after {
    top: 0;
    bottom: 0;
    opacity: 1;
    -webkit-transition: all 900ms ease;
    -moz-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    transition: all 900ms ease;
}

/* lablistproducts  */

.lab_tab {
    text-align: center;
}
.lab_tab .nav {
    display: inline-block;
    border: medium none;
}
.lab_tab .nav li {
    margin: 0 10px;
    padding: 0 10px;
    position: relative;
}
.lab_tab .nav li a {
    color: #666666;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
    margin: 0;
    padding: 0;
    border: none;
    text-transform: uppercase;
    position: relative;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.lab_tab .nav li:before {
    border-left: 1px solid #333;
    content: "";
    height: 15px;
    left: -10px;
    position: absolute;
    top: 13px;
}
.lab_tab .nav li:first-child:before {
    display: none;
}
.lab_tab .nav li a:before {
    border-bottom: 2px solid #333;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    width: 0;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.lab_tab .nav li a:hover:before,
.lab_tab .nav li.active a:before {
    width: 20px;
}
.lab_tab .nav li a:hover,
.lab_tab .nav li.active a {
    border: none;
    background: none;
    color: #000000;
}
.blockPosition2 {
    margin-bottom: 80px;
}
.laberthemes.accordion {
    margin-bottom: 40px;
}
.lablistproducts .item-inner {
    overflow: hidden;
    padding: 0 15px;
}
.lablistproducts .item-inner .item {
    margin-bottom: 40px;
}
@media (min-width: 992px) {
    .lablistproducts .item-inner.first-in-line {
        clear: left;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .lablistproducts .item-inner.first-item-of-tablet-line {
        clear: left;
    }
}
@media (min-width: 480px) and (max-width: 767px) {
    .lablistproducts .item-inner.first-item-of-mobile-line {
        clear: left;
    }
}
.owl-item.active {
    -webkit-animation: pulse 600ms ease both;
    -moz-animation: pulse 600ms ease both;
    -o-animation: pulse 600ms ease both;
    animation: pulse 600ms ease both;
}
.lablistproducts .left-block {
    position: relative;
    border: 1px solid transparent;
    margin-bottom: 15px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.lablistproducts .left-block img {
    width: 100%;
}
.lablistproducts .right-block {
    position: relative;
    padding-right: 20px;
}
.lablistproducts .right-block .h5product-name {
    margin: 0 0 15px 0;
}



/* Home page blog */
/* blog */

.labSmartBlog {
    margin-bottom: 40px;
}
.labSmartBlog .blog-content {
    position: relative;
}
.labnewsmartblog {
    position: relative;
}
.sdsblog-box-content .item-i {
    overflow: hidden;
    border: 1px solid #f3f3f3;
    padding: 15px;
    position: relative;
    text-align: center;
}
.sdsblog-box-content .item-inner {
    padding: 0 15px;
    float: left;
}
.sdsblog-box-content .image_blog {
    position: relative;
}
.sdsblog-box-content .image_blog a {
    display: block;
    overflow: hidden;
    outline: none;
}
.sdsblog-box-content .image_blog img {
    width: 100%;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.sdsblog-box-content .image_blog a:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.sdsblog-box-content .content-blog .labname {
    margin-bottom: 20px;
}
.sdsblog-box-content .content-blog {
    padding-top: 20px;
}
.sdsblog-box-content .content-blog .labname a {
    color: #2d2d2d;
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    text-transform: uppercase;
    position: relative;
}
.sdsblog-box-content .content-blog .labname a:hover {
    color: #79b6c8;
}
.sdsblog-box-content .content-blog .meta_description {
    color: #7b7b7b;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 20px;
}
.sdsblog-box-content .content-blog .date_added {
    background: #f8f8f8 none repeat scroll 0 0;
    color: #79b6c8;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: bold;
    left: 15px;
    line-height: 1;
    margin: 0;
    padding-bottom: 15px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 15px;
    width: 70px;
}
.sdsblog-box-content .content-blog .date_added span {
    background: #79b6c8 none repeat scroll 0 0;
    color: #fff;
    display: block;
    font-size: 18px;
    line-height: 40px;
    margin-bottom: 15px;
}
.sdsblog-box-content .content-blog .read-more {
    color: #2d2d2d;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}
.sdsblog-box-content .content-blog .read-more:hover {
    color: #79b6c8;
}