.look-book-container {
	margin-bottom: 20px;

	h4 {
		margin: 20px 0 40px;
	}
}

.look-social {
	text-align: center;
	margin: 20px 0 40px;

	&__list {
		margin-top: 20px;
		display: none;
		i {
			font-size: 30px;
		    background: #333;
		    color: #fff;
		    padding: 10px;
		    border-radius: 50%;
		    width: 50px;
		    height: 50px;
    		margin: 0 8px;
		}
	}
}

.look-step {
	margin: 20px 0 60px;

	&__title {
		margin: 0 0 10px;
	    color: #000;
	    font-size: 24px;
	}

	&__product {
		background: #f5f5f5;
	    padding: 20px;
	    margin-top: 30px;

	    h3 {
	    	font-size: 20px;
		    color: #000;
		    margin: 0 0 20px;
	    }
	}
}