/*******************************************************************
					Cart Block Styles
********************************************************************/
header .shopping_cart {
	z-index:99;
	position: relative;}
.shopping_cart {}
  .shopping_cart > a:first-child {
	display: block;
    font-size: 20px;
    position: relative;
    width: 18px;
    line-height: 68px;
  }
	.shopping_cart > a .icon {
		color: #1f1f1f;
		display: inline-block;
		font-size: 18px;
	}
	.shopping_cart > a .ajax_cart_quantity {
		background: #79b6c8 none repeat scroll 0 0;
		-webkit-border-radius: 100%;
		-moz-border-radius: 100%;
		-ms-border-radius: 100%;
		-o-border-radius: 100%;
		border-radius: 100%;
		color: #fff;
		display: block !important;
		font-size: 11px;
		height: 18px;
		line-height: 18px;
		position: absolute;
		right: -10px;
		text-align: center;
		top: 14px;
		width: 18px;	
	}
	.shopping_cart > a .ajax_cart_total{
		color: #444444;
		font-family: "Montserrat",sans-serif;
		font-size: 14px;
		font-weight: bold;
	}
    @media (min-width: 768px) and (max-width: 991px) {
      .shopping_cart > a:first-child span.ajax_cart_product_txt, .shopping_cart > a:first-child span.ajax_cart_product_txt_s {
        display: none !important; } }
  .shopping_cart .ajax_cart_product_txt_s,
  .shopping_cart .ajax_cart_product_txt { }
  .shopping_cart .block_cart_expand:after, .shopping_cart .block_cart_collapse:after {
    content: "\f0d7";
    font-family: "FontAwesome";
    display: inline-block;
    float: right;
    font-size: 18px;
    color: #686666;
    padding: 6px 0 0 0; }
  .shopping_cart .block_cart_collapse:after {
    content: "\f0d8";
    padding: 4px 0px 2px 0px; }

.cart_block .cart_block_list .remove_link {
  position: absolute;
  right: 10px;
  top: 19px; }
.cart_block .cart_block_list .remove_link a,
.cart_block .cart_block_list .ajax_cart_block_remove_link {
  color: #777;
  display: block;
  width: 100%;
  height: 100%; }
  .cart_block .cart_block_list .remove_link a:before,
  .cart_block .cart_block_list .ajax_cart_block_remove_link:before {
    display: inline-block;
    content: "\f057";
    font-family: "Font Awesome 5 Free";
    font-size: 18px;
    line-height: 18px; }
  .cart_block .cart_block_list .remove_link a:hover,
  .cart_block .cart_block_list .ajax_cart_block_remove_link:hover {
    color: #515151; }
.cart_block .cart-images {
  float: left;
  margin-right: 20px; 
  img {
    width: 80px;
  }
}
.cart_block .cart-info {
  overflow: hidden;
  position: relative;
  padding-right: 20px; }
  .cart_block .cart-info .product-name {
    padding-bottom: 5px;
    margin-top: -4px; }
    .cart_block .cart-info .product-name a {
      font-size: 13px;
      line-height: 18px;
      display: inline-block; }
  .cart_block .cart-info .quantity-formated {
    display: inline-block;
    color: #000;
    text-transform: uppercase;
    font-size: 10px;
    padding-right: 5px; }
    .cart_block .cart-info .quantity-formated .quantity {
      font-size: 15px; }
.cart_block dt {
  font-weight: normal;
  overflow: hidden;
  padding: 15px;
  position: relative; }
.cart_block dd {
  position: relative; }
  .cart_block dd .cart_block_customizations {
    border-top: 1px dashed #333; }
    .cart_block dd .cart_block_customizations li {
      padding: 10px 20px; }
      .cart_block dd .cart_block_customizations li .deleteCustomizableProduct {
        position: absolute;
        right: 10px; }
.cart_block .cart_block_no_products {
  margin: 0;
  padding: 10px 20px; }
.cart_block .cart-prices {
	font-weight: bold;
    padding: 15px;}
  .cart_block .cart-prices .cart-prices-line {
    overflow: hidden;}
    .cart_block .cart-prices .cart-prices-line.last-line {
      border: none; }
.cart_block .cart-buttons {
	margin: 0;
    overflow: hidden;
    padding: 15px;}
  .cart_block .cart-buttons a {
    width: 100%;
    float: left;
    text-align: center;
    margin-bottom: 10px;
    margin-right: 10px; }

/*******************************************************************
					Cart Block(Header) Styles
********************************************************************/
header .cart_block {
	background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    height: auto;
    position: fixed;
    right: 0;
    top: auto;
    width: 100%;
    z-index: 100;
    @media (min-width: $screen-sm-min) {
      position: absolute;
      width: 270px;
    }
}
	header .cart_block  dl.products{
		margin:0;
    max-height: 350px;
    overflow-y: scroll;
	}

  header .cart_block .cart_block_list .remove_link a,
  header .cart_block .cart_block_list .ajax_cart_block_remove_link {
    color: #555555;
    outline: none;
    text-decoration: none; }
    header .cart_block .cart_block_list .remove_link a:hover,
    header .cart_block .cart_block_list .ajax_cart_block_remove_link:hover {
      color: #9c9b9b; }
  header .cart_block .price {
	color: #000;
    font-family: "Montserrat",sans-serif;}
  header .cart_block dt {
    border-bottom:1px solid #dddddd;}
    header .cart_block dt.first_item { }
  header .cart_block .product-atributes {
    padding-bottom: 10px;
    font-size: 11px; }
    header .cart_block .product-atributes a {
      color: #9c9b9b; }
      header .cart_block .product-atributes a:hover {
        color: #fff; }
  header .cart_block .cart-prices {}
header .block_content {
  margin-bottom: 0; }

.cart_block #cart_block_summary,
.cart_block .title_block span,
header .cart_block h4,
header .cart_block .title_block,
header .cart_block h4 {
  display: none; }

.cart_block .cart_block_shipping_cost,
.cart_block .cart_block_tax_cost,
.cart_block .cart_block_total,
.cart_block .cart_block_wrapping_cost {
  float: right; }

.cart_block table.vouchers {
  clear: both;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10px; }
  .cart_block table.vouchers tr td {
    padding: 2px; }
    .cart_block table.vouchers tr td.quantity {
      margin-right: 5px;
      min-width: 18px; }
    .cart_block table.vouchers tr td.delete {
      padding-left: 0;
      padding-right: 0;
      text-align: right;
      width: 15px; }

/*****************************************************************************
					Layer Cart Css
*****************************************************************************/
.layer_cart_overlay {
  background-color: #000;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 98;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2; }

* html .layer_cart_overlay {
  position: absolute;
  left: 0;
  margin-left: -160px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2; }

.layer-cart {
  background-color: #fff;
  position: absolute;
  z-index: 99;
  width: 100%;
  left: 0;
  right: 0;
  top: 69px;
  font-size: 12px;
  border-bottom: 1px solid #E5E5E5;
  -vendor-animation-duration: 1s;

  .layer-container__first {
    border-right: 1px solid #E5E5E5;
  }

  .close {
    position: absolute;
    right: 7px;
    top: 8px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    color: #333;
    z-index: 2; 
  }

}

.layer__total {
  color: $primary-btn-bg-color;
  margin-left: 15px;
}

.layer__product__row {
  margin-bottom: 5px;
}

.layer__product__label {
  padding-right: 8px;
}

.layer__title {
  color: #000;
  margin-bottom: 20px; 
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.layer_cart_overlay {
    background-color: #000;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 98;
    opacity: 0.2;
    right: 0;
    bottom: 0;
    display: block;
}

.layer-cart .layer-container {
    padding: 20px;
}

@media (min-width: 1200px) {

  .layer-cart .layer-container {
    width: 750px;
  }
}