.modal-dialog {
	width: 500px;
}

.modal-content {
	position: relative;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
    padding: 30px;
    font-family: 'Montserrat', sans-serif;

    .close-link i{
    	font-size: 16px;
	    position: absolute;
	    right: 20px;
	    top: 20px;
    }
}