.filter {
  display: none;
  @media (min-width: $screen-sm-min) {
      display: block;
  }
  &__group {
    margin-top: 15px;
    &__label {
      border-bottom: 1px solid #e5e5e5;
      color: #222222;
      display: block;
      font-size: 14px;
      font-weight: bold;
      padding-bottom: 10px;
      text-transform: uppercase;
    }

    ul {
      li {
        margin: 8px 0;
        line-height: 24px;
        padding-left: 14px;
        a {
          text-decoration: none;
          color: #111;
        }
        span {
          font-weight: bold;
          color: #000;
        }
      }
    }
  }
}

h1.product-detail-name {
  font-size: 18px;

  @media (min-width: $screen-sm-min) {
   font-size: 20px;
  }

  @media (min-width: $screen-md) {
   font-size: 30px;
  }

  @media (min-width: $screen-lg) {
   font-size: 36px;
  }

}

.toolbar {
    border-bottom: 1px solid #e5e5e5;
    padding: 0 0 10px 0;
    margin-bottom: 30px;

    &.bottom {
      margin-top: 30px;
      border-top: 1px solid #e5e5e5;
      border-bottom: none;
      padding: 10px 0 0 0;
    }

    &__info {
      color: #333;
      display: inline-block;
      padding-top: 10px;
      font-size: 14px;
      font-weight: bold;
    }

    &__sort-control {
      border-color: #e5e5e5;
      border-radius: 2px;
      color: #111;
      cursor: pointer;
      font-size: 14px;
      line-height: 38px;
      padding: 0 15px;
      position: relative;
      outline: none;
      width: 165px;
      @media (min-width: $screen-sm-min) {
        margin-right: 20px;
      }
      
    }

    &__view-control {
      font-size: 20px;
      color: #000;
      margin-left: 10px;
      display: none;

      @media (min-width: $screen-sm-min) {
          display: inline-block;
      }

      &.active {
        color: #337ab7;
      }
    }
}

.review__box {
    margin-bottom: 30px;
    textarea {
        width: 500px;
    }
}

.review--alert {
    display: none;
}

.lablistproducts.list li {

  .product-container {
    border-bottom: 1px solid #e5e5e5;
  }

  &:last-child {
    .product-container {
      border-bottom: none;
    }
  }
}

.rte {
  margin: 10px 0 20px 0;
  ul {
    list-style: inherit;
    margin: 10px 20px;
  }
}

.lablistproducts.list  .left-block .actions,
.lablistproducts.grid .product-flags,
.lablistproducts.grid .availability,
.lablistproducts.grid .color-list-container,
.lablistproducts.grid .product-desc,
.lablistproducts.grid .comments_note{
    display:none;
}
.lablistproducts > li{
    margin-bottom:30px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.lablistproducts.list .product-flags .discount{
    color: #7b7b7b;
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}
.lablistproducts.list  h5{
    margin:0 0 30px 0;
}
.lablistproducts.list  .product-name{
    font-size: 16px;
    font-weight: 700;
}
.lablistproducts.list .comments_note{
    margin-right:15px;
}
.lablistproducts.list .availability{
    display: none;
    margin-bottom: 20px;
}
.lablistproducts.list  .media-body{
    margin-bottom:15px;
}
.lablistproducts.list .content_price{
    margin-bottom:30px;
}
.lablistproducts.list .product-desc{
    color: #7b7b7b;
    font-size: 12px;
    margin-bottom: 30px;
}
.lablistproducts.list .actions{
    opacity: 1;
    overflow: hidden;
    padding: 0;
    position: static;
}
.lablistproducts.list .add-to-links li{
    float:left;
    display:inline;
    margin-right: 10px;
}
.lablistproducts.list .add-to-links li a{
    border: 1px solid #d7d7d7;
    color: #d7d7d7;
    display: block;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    width: 50px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    border-radius:5px;
}
.lablistproducts.list .lab-cart{
    margin-right:10px;
    bottom: 20px;
    top: auto;
    right: 5px;
}
.lablistproducts.list  .lab-cart span{
    background: none;
    border: medium none;
    display: inline-block;
    padding: 0;
}
.lablistproducts.list .add-to-links li a.active,
.lablistproducts.list .add-to-links li a.checked,
.lablistproducts.list .add-to-links li a:hover{
    background-color: #79b6c8;
    border-color: #79b6c8;
    color: #fff;
}

.product-image-container .product_image{
    position:relative;
    margin-bottom:0;
    width:100%;
    display:block;
}
.product-image-container .product_image .img2{
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    -webkit-transition: all 900ms ease;
    -moz-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    transition: all 900ms ease;
}
.lablistproducts  .product-container:hover  .product_image .img2,
.lablistproducts  .item:hover  .product_image .img2{
    opacity: 1;
    z-index: 1;
}

/* product desc */
/* primary_block ***************************************************************************** */
.primary_block {
  margin-bottom: 40px; }

.top-hr {
  background: #C4C4C4;
  height: 5px;
  margin: 2px 0 31px; }

.product-heading-h5 {
  color: #999999;
  font-weight: 200;
  margin: 3px 0 8px;
  font-size: 19px;
  font-family: "Open Sans", sans-serif; }

.box-security .product-heading-h5 {
  margin: 3px 0 -8px; }
  @media (max-width: 1199px) {
    .box-security .product-heading-h5 {
      margin-bottom: 8px; } }

.primary_block .pb-left-column img {
  width: 100%;
  height: auto; }

a.fancybox-nav {
  outline: 0; }

/* .pb-left-column ***************************************************************************** */
.pb-left-column #image-block {
  position: relative;
  display: block;
  cursor: pointer;
  background: #fff; }
  @media (max-width: 767px) {
    .pb-left-column #image-block {
      width: 280px;
      margin: 0 auto; } }
  .pb-left-column #image-block img {
    background: #fbfbfb;
    width: 100%; }
  .pb-left-column #image-block #view_full_size .span_link {
		bottom: 2px;
		height: 40px;
		position: absolute;
		right: 1px;
		width: 40px;
		-webkit-transition: all 300ms ease;
		-moz-transition: all 300ms ease;
		-ms-transition: all 300ms ease;
		-o-transition: all 300ms ease;
		transition: all 300ms ease;
	}
	.pb-left-column #image-block #view_full_size .span_link span{
		bottom: 5px;
		font-size: 21px;
		position: absolute;
		right: 5px;
		color:#000;
		-webkit-transition: all 300ms ease;
		-moz-transition: all 300ms ease;
		-ms-transition: all 300ms ease;
		-o-transition: all 300ms ease;
		transition: all 300ms ease;
	}
	.pb-left-column #image-block #view_full_size .span_link:before{
		content:"";
		border:20px solid transparent;
		border-color: transparent #fff #fff  transparent;
		position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
	}
	.pb-left-column #image-block #view_full_size .span_link:hover span{
		color:#fff;
	}
	.pb-left-column #image-block #view_full_size .span_link:hover:before{
		border-color: transparent #79b6c8 #79b6c8  transparent;
	}
  .pb-left-column #image-block a.jqzoom div div img {
    width: auto;
    max-width: 10000px; }
  .pb-left-column #image-block a.jqzoom div div .zoomWrapper {
    border: none; }
  .pb-left-column #image-block .zoomPad {
    z-index: auto !important; }
  .pb-left-column #image-block .new-box,
  .pb-left-column #image-block .sale-box {
    z-index: 5002; }

/* miniatures */
.pb-left-column #views_block {
	position:relative;
  margin-top: 10px; }
  @media (max-width: 767px) {
    .pb-left-column #views_block {
      width: 280px;
      margin: 10px auto 0px auto; } }

.thumbnail-container {
  li {
    margin-bottom: 10px;
    a {
      display: block;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      background: #fbfbfb;
      @media (min-width: $screen-sm-min) {
        border:1px solid #f3f3f3;
      }

      @media (min-width: $screen-sm-min) {
        &.active {
          border-color:#79b6c8;
        }
        &:hover {
          border-color:#79b6c8;
        }
      }

      &.video {
        text-align: center;
        color: #000;
        i {
          font-size: 36px;
        }
      }
    }

    .video-container {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%; 
      overflow: hidden;
      display: block;
      video {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }

      @media (min-width: $screen-sm-min) {
        display: none;
      }
    }
    
  }
}

.video-container {
  position: relative;
  padding-bottom: 100%;
  display: none;
  video, iframe {
    width: 100%;
    height: 100%;
    background: #000;
  }
}

span.view_scroll_spacer {}
  @media (min-width: 992px) and (max-width: 1199px) {
	.NextPre{
		padding-top: 20px;
	}
  }
  @media (min-width: 768px) and (max-width: 991px) {
	.NextPre {
		padding-top: 2px;
	}
  }
  @media (max-width: 767px) {
.NextPre {
    padding-top: 19px;
} }

.show-right-column.hide-left-column span.view_scroll_spacer, .hide-right-column.show-left-column span.view_scroll_spacer { }
  @media (min-width: 992px) and (max-width: 1199px) {
    .show-right-column.hide-left-column span.view_scroll_spacer, .hide-right-column.show-left-column span.view_scroll_spacer { } }
  @media (min-width: 768px) and (max-width: 991px) {
    .show-right-column.hide-left-column span.view_scroll_spacer, .hide-right-column.show-left-column span.view_scroll_spacer {} }
  @media (max-width: 767px) {
    .show-right-column.hide-left-column span.view_scroll_spacer, .hide-right-column.show-left-column span.view_scroll_spacer {} }

#view_scroll_left,
#view_scroll_right {
	background: #ebebeb none repeat scroll 0 0;
    border-radius: 100%;
    color: #fff;
    display: block !important;
    height: 30px;
    margin: 2px 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 36%;
    width: 30px;}
  @media (min-width: 768px) and (max-width: 991px) {
    #view_scroll_left,
    #view_scroll_right { } }
  #view_scroll_left:before,
  #view_scroll_right:before {
	font-family: "FontAwesome";
    font-size: 14px;
    line-height: 30px;}
  #view_scroll_left:hover,
  #view_scroll_right:hover {
	background:#79b6c8;
    color: #fff; }

#view_scroll_right {
	right: -15px;
}
  #view_scroll_right:before {
    content: "\f105"; }

#view_scroll_left {
  left: -15px; }
  #view_scroll_left:before {
    content: "\f104";
    padding-right: 2px; }

.resetimg {
  padding: 10px 0 0; }
  .resetimg #resetImages i {
    margin-right: 6px; }

.view_scroll_spacer {}
  @media (min-width: 768px) and (max-width: 991px) {
    .view_scroll_spacer { } }

/* link list */
#usefull_link_block {
  list-style-type: none; }
    #usefull_link_block li a {
      color: #777676;
      font-weight: 700;
      position: relative;
      padding:0;
      line-height: 22px;
      display: inline-block; }
	   #usefull_link_block li a span{
		   display:none;
	   }
      #usefull_link_block li a:before {
        font-family: "FontAwesome";
        color: #333;
        font-size: 19px;
        line-height: 24px;
        position: absolute;
        top:0;
        left: 0;
        font-weight: normal; }
      #usefull_link_block li a:hover {
        color: #000; }
    @media (min-width: 768px) and (max-width: 991px) {
      #usefull_link_block li.print {
        padding: 0;
        border: none; } }
    #usefull_link_block li.print a:before {
      content: "\f02f"; }
    #usefull_link_block li.sendtofriend a:before {
      content: "\f003"; }
    #usefull_link_block li#left_share_fb {
      clear: both;
      float: none; }
      #usefull_link_block li#left_share_fb a {
        padding-left: 18px; }
      #usefull_link_block li#left_share_fb a:before {
        content: "\f09a"; }
    #usefull_link_block li#favoriteproducts_block_extra_remove, #usefull_link_block li#favoriteproducts_block_extra_add, #usefull_link_block li#favoriteproducts_block_extra_removed, #usefull_link_block li#favoriteproducts_block_extra_added {
      cursor: pointer;
      font-weight: 700;
      clear: both;
      float: none;
      margin: 0 0 8px 0;
      border: none;
      padding: 0;
      position: relative; }
      #usefull_link_block li#favoriteproducts_block_extra_remove:before, #usefull_link_block li#favoriteproducts_block_extra_add:before, #usefull_link_block li#favoriteproducts_block_extra_removed:before, #usefull_link_block li#favoriteproducts_block_extra_added:before {
        font-family: "FontAwesome";
        color: #333;
        font-size: 19px;
        line-height: 24px;
        position: absolute;
        top: -2px;
        left: 0;
        font-weight: normal;
        content: "\f08a"; }
      #usefull_link_block li#favoriteproducts_block_extra_remove:hover, #usefull_link_block li#favoriteproducts_block_extra_add:hover, #usefull_link_block li#favoriteproducts_block_extra_removed:hover, #usefull_link_block li#favoriteproducts_block_extra_added:hover {
        color: #000; }
    #usefull_link_block li#favoriteproducts_block_extra_removed:before {
      content: "\f004"; }

/* pb-left-column ****************************************************************************** */
.pb-center-column {
  margin-bottom: 30px;
  /* form */ }
  .pb-center-column h1 {
	color: #333333;
    font-size: 18px;
    font-style: italic;
    font-weight: 700;
    line-height: 1;
    margin: 0 0 30px;}
  .pb-center-column p {}
  .pb-center-column #product_reference {
    margin-bottom: 6px; }
  .pb-center-column #short_description_block {
    color: #666; }
	.pb-center-column #short_description_block .buttons_bottom_block{
		margin-bottom:30px;
	}
    .pb-center-column #short_description_block .buttons_bottom_block .button{
		color: #2d2d2d;
		font-size: 14px;
		font-style: italic;
		line-height: 1;
		padding: 0;
		background:none;
		border:none;
		border-bottom:1px solid #2d2d2d;
		
	}
	.pb-center-column #short_description_block .buttons_bottom_block .button:hover{
		color:#79b6c8;
		border-color:#79b6c8;
	}
    .pb-center-column #short_description_block #short_description_content {
      word-wrap: break-word; }
      .pb-center-column #short_description_block #short_description_content p {
		color: #7b7b7b;
		font-size: 15px;
		line-height: 25px;}
	.pb-center-column #buy_block {
    margin-top: 10px;
    padding-top: 10px;}
    .pb-center-column #buy_block label {
		color: #333333;
		display: block;
		font-size: 14px;
		font-weight: 400;
		line-height: 1;}
    .pb-center-column #buy_block p.price {
      padding: 0; }
  .pb-center-column #color_picker p {
    padding-bottom: 5px;
    font-weight: 700; }

#product p#loyalty {
  padding: 17px 0 15px 35px;
  border-top: 1px solid #d6d4d4;
  border-bottom: 1px solid #d6d4d4;
  margin: 10px 0 -5px;
  position: relative; }
  #product p#loyalty b {
    color: #333; }
  #product p#loyalty:before {
    content: "\f024";
    font-family: "FontAwesome";
    color: #cfcccc;
    font-size: 26px;
    line-height: 28px;
    position: absolute;
    top: 16px;
    left: 0; }

#page .rte {
	color: #666666;
    font-size: 14px;
    line-height: 24px;
    padding: 0;
    word-wrap: break-word; }
  #page .rte p {
	color: #666666;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 10px;
    min-height: 1px;
}
#attributes-ii{
}
#attributes fieldset {margin-bottom: 30px;}
  #attributes fieldset label {
    vertical-align: top;
    display: block; }
#attributes .attribute_list {overflow:hidden;}
  #attributes .attribute_list .form-control {}
    #attributes .attribute_list .form-control option {
      background: #fff;
      color: #666; }
  #attributes .attribute_list ul {
    clear: both; }
    #attributes .attribute_list ul li {
      float: left;
      margin-right: 10px; }
  #attributes .attribute_list input.attribute_radio {
    float: left;
    margin-left: 3px; }
  #attributes .attribute_list div.radio,
  #attributes .attribute_list div.radio span,
  #attributes .attribute_list div.radio input {
    float: none;
    display: inline-block; }
  #attributes .attribute_list #color_to_pick_list {
    list-style-type: none; }
    #attributes .attribute_list #color_to_pick_list li {
      float: left;
      margin: 0 3px 3px 0;
      padding: 1px;
      border: 1px solid #d6d4d4;
      clear: none;
      width: 26px;
      height: 26px; }
      #attributes .attribute_list #color_to_pick_list li a.color_pick {
        display: block;
        height: 22px;
        width: 22px;
        cursor: pointer; }
        #attributes .attribute_list #color_to_pick_list li a.color_pick img {
          display: block;
          height: 22px;
          width: 22px; }
      #attributes .attribute_list #color_to_pick_list li.selected {
        border: 1px solid #4d4d4d; }
div.selector select,
div.selector span,
div.selector {
	width:100% !important;
  line-height: 40px;
  height: 40px;}
.product_attributes,
.box-cart-bottom {
}

.box-cart-bottom {
  padding: 0; }

#short_description_content a,
.page-product-box .rte a {
  color: #333333;
  text-decoration: underline; }
#short_description_content a.btn,
.page-product-box .rte a.btn {
  text-decoration: none; }

  .box-info-product {
	  margin-bottom:20px;
    float: left;
  }
  .box-info-product label{
	float: left;
    line-height: 27px;
    margin-bottom: 0;
    margin-right: 15px;
  }

/* table_data_sheet */
.table-data-sheet {
  border-bottom: 1px solid #d6d4d4;
  width: 100%;
  margin: 0 0 20px;
  background: #fff; }
  .table-data-sheet tr {
    border-top: 1px solid #d6d4d4; }
    .table-data-sheet tr.even {
      background: #fdfdfd; }
    .table-data-sheet tr td {
      padding: 10px 20px 11px; }
      .table-data-sheet tr td:first-child {
        border-right: 1px solid #d6d4d4;
        width: 30%;
        font-weight: 700;
        color: #333; }

/* table product-discounts */
table.table-product-discounts {
  border: none;
  border-bottom: 1px solid #d6d4d4;
  border-right: 1px solid #d6d4d4;
  width: 50%;
  margin: 0 0 20px;
  background: #fff; }
  @media (max-width: 767px) {
    table.table-product-discounts {
      width: 100%; } }
  table.table-product-discounts tr th {
    background: #fbfbfb;
    color: #333;
    font-weight: 700;
    border: none;
    font-weight: 700; }
  table.table-product-discounts tr td,
  table.table-product-discounts tr th {
    border-left: 1px solid #d6d4d4;
    width: 33%;
    padding: 10px 20px 11px;
    border-top: 1px solid #d6d4d4;
    border-right: none;
    text-shadow: none;
    text-transform: none;
    font-weight: 13px;
    line-height: 18px;
    border-bottom: none; }

/* accessories  */
.accessories-block .block_description {
  display: none; }
.accessories-block .exclusive span {
  font-size: 13px;
  line-height: 18px;
  padding: 2px 8px 3px;
  text-decoration: none; }
  .accessories-block .exclusive span:focus, .accessories-block .exclusive span:active {
    text-decoration: none; }
.accessories-block .product-name {
  margin-bottom: 5px; }
  .accessories-block .product-name a {
    font-size: 15px;
    line-height: 18px;
    color: #3a3939; }
    .accessories-block .product-name a:hover {
      color: #515151; }
.accessories-block div ul li a {
  display: inline-block; }
.accessories-block div ul li.s_title_block a,
.accessories-block div ul li.s_title_block span {
  font-weight: 700; }

/* quantity_wanted */


.box-info-product input {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none !important;
    float: left;
    height: 15px;
    padding: 0 6px;
    text-align: center;
    outline: none;
    width: 50px; }
.box-info-product .qty-ii{
	background: #fff none repeat scroll 0 0;
    border: 1px solid #dddddd;
    display: inline;
    float: left;
    padding: 5px 10px;
}
.box-info-product .btn {
	background: 0 0;
  border: medium none;
  float: left;
  font-size: 12px;
  padding: 0px 8px;
  color: #666;
}
.box-info-product .btn:hover{
	color:#000;
}
.box-info-product .btn  span{
	border:none;
	background:none;
	padding:0;
}
#quantity_wanted_p label {
  display: block;
  margin-bottom: 7px; }

/* availability_statut */
#availability_statut span#availability_label,
#availability_date_label {
  display: inline-block;
  width: 125px;
  font-weight: 700;
  font-size: 12px;
  text-align: right; }

#quantityAvailable {
  color: #333;
  font-size: 13px;
  line-height: 18px;
  font-weight: 700; }

#availability_value,
#last_quantities {
  color: #fff;
  font-weight: 700;
  line-height: 18px;
  display: inline-block;
  padding: 0;
  margin-right: 5px; }
#availability_value{
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #333;
    font-size: 14px;
}
#last_quantities {
  background: #79b6c8;
  padding: 4px 8px 3px;
  position: relative;
  top: 1px;
  margin-left: 0px; }

#availability_statut,
#pQuantityAvailable {
	display: inline-block; }

#pQuantityAvailable span {
  font-weight: 700;
  color: #333; }

/* box-security */
.box-security {
  border-top: 1px solid #dfdede;
  padding: 19px 19px 6px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZiZmJmYiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #fbfbfb));
  background-image: -moz-linear-gradient(#ffffff, #fbfbfb);
  background-image: -webkit-linear-gradient(#ffffff, #fbfbfb);
  background-image: linear-gradient(#ffffff, #fbfbfb);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#fbfbfb',GradientType=0 ); }
p label{
	color: #333333;
    font-size: 13px;
    font-weight: 400;
    margin-right: 5px;
}
#product_condition .editable,
#product_reference .editable{
	color: #333;
    font-size: 14px;
    font-weight: 700;
}
/* prices */
.content_prices {
}

.discount {
  display: none; }

.our_price_display {
	color: #666666;
    font-size: 20px;
    font-weight: 400;
	margin-bottom:20px;
    line-height: 1;}
  @media (max-width: 991px) {
    .our_price_display {
      font-size: 26px;
      line-height: 28px; } }
  .our_price_display .price {
	color: #23363c;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;}
	#old_price .price {
		color: #878787;
		font-size: 18px;
		white-space: nowrap;
	}	
    @media (max-width: 991px) {
      .our_price_display .price {
        font-size: 26px;
        line-height: 28px; } }

#old_price {
  padding-bottom: 10px;
  font-size: 18px;
  text-decoration: line-through;
  display: inline-block;
  line-height: 23px; }

#reduction_percent,
#reduction_amount {
	color: #ff1313;
    float: left;
    font-size: 18px;
    line-height: 23px;
    margin-right: 10px;}
  #reduction_percent span,
  #reduction_amount span {
    display: block; }
  .hide-left-column.hide-right-column #reduction_percent, .hide-left-column.hide-right-column
  #reduction_amount {
    display: inline-block; }

/* online_only */
.pb-center-column p.online_only {
  font-weight: 700;
  font-size: 13px;
  color: #f13340;
  text-align: left; }
#usefull_link_block,
.box-cart-bottom .buttons_bottom_block {
	float:left;
	display:inline;
}
  .buttons_bottom_block #wishlist_button {
    font-weight: 700; }

/* PERSONNALISATION ##################################################################### */
p.infoCustomizable {
  margin-bottom: 30px; }

ul#uploadable_files,
ul#text_fields {
  list-style-type: none; }

.customizableProductsFile,
.customizableProductsText {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d6d4d4; }

.customizationUploadLine {
  padding-bottom: 10px; }
  .customizationUploadLine label {
    display: block;
    vertical-align: top; }
  .customizationUploadLine textarea {
    width: 50%;
    border: 1px solid #d6d4d4;
    color: #777777; }

.customizationUploadBrowse img + a {
  position: relative;
  top: -51px; }

#customizedDatas {
  float: right; }

/******************************************************************
Quick View Styles
******************************************************************/
#product.content_only div.primary_block {
  margin-bottom: 0; }
  @media (max-width: 991px) {
    #product.content_only div.primary_block {
      margin-right: 0; } }
  #product.content_only .pb-left-column #image-block {
	padding:15px;
  }
    @media (max-width: 479px) {
      #product.content_only div.primary_block div.pb-left-column {
        width: 100%;
        float: none; } }
    #product.content_only div.primary_block div.pb-left-column span.view_scroll_spacer {}
    #product.content_only div.primary_block div.pb-left-column #views_block {
		 margin: 0;
		padding: 15px;
	}
    #product.content_only div.primary_block div.pb-left-column #thumbs_list {}
	#product.content_only div.primary_block div.pb-left-column #thumbs_list li{
		width: 117px;
	}
	#product.content_only  #view_scroll_left{
		left:0;
	}
	#product.content_only #view_scroll_right{
		right:0;
	}
	@media (min-width: 700px) and (max-width: 1199px){
		#product.content_only div.primary_block div.pb-left-column #thumbs_list li{
			width: 102px;
		}
	}
  #product.content_only div.primary_block div.pb-center-column {
    padding: 20px 60px 20px 0;
    margin-bottom: 0;
    min-height: 623px;
    height: 100%; }
    @media (max-width: 991px) {
      #product.content_only div.primary_block div.pb-center-column {
        min-height: 440px; } }
    @media (max-width: 479px) {
      #product.content_only div.primary_block div.pb-center-column {
        width: 100%;
        float: none; } }
    #product.content_only div.primary_block div.pb-center-column .product_comments_block_extra {
      padding-right: 0; }
    @media (max-width: 479px) {
      #product.content_only div.primary_block div.pb-center-column .comments_advices li {
        display: block; }
      #product.content_only div.primary_block div.pb-center-column .comments_advices a.reviews {
        margin: 0;
        padding: 0;
        border: none; } }
    #product.content_only div.primary_block div.pb-center-column #ShareDiv {
      position: absolute;
      bottom: 8px; }
  #product.content_only div.primary_block div.pb-right-column {
    width: 25.5%;
    padding-right: 15px;
    padding-left: 0; }
    #product.content_only div.primary_block div.pb-right-column .box-info-product {
      border-top-width: 0px;
      border-right: none;
      border-bottom: none;
      min-height: 623px;
      height: 100%;
      -moz-border-radius: 0 4px 4px 0;
      -webkit-border-radius: 0;
      border-radius: 0 4px 4px 0;
      position: relative;
      padding-bottom: 125px; }
      @media (max-width: 991px) {
        #product.content_only div.primary_block div.pb-right-column .box-info-product {
          -moz-border-radius: 0;
          -webkit-border-radius: 0;
          border-radius: 0;
          border: 1px solid #d6d4d4; } }
      #product.content_only div.primary_block div.pb-right-column .box-info-product #add_to_cart .exclusive {
        display: block;
        width: 100%; }
        #product.content_only div.primary_block div.pb-right-column .box-info-product #add_to_cart .exclusive:before, #product.content_only div.primary_block div.pb-right-column .box-info-product #add_to_cart .exclusive:after {
          display: block; }
        #product.content_only div.primary_block div.pb-right-column .box-info-product #add_to_cart .exclusive span {
          font-size: 20px;
          text-align: center; }
          @media (max-width: 1199px) {
            #product.content_only div.primary_block div.pb-right-column .box-info-product #add_to_cart .exclusive span {
              padding: 12px 22px 14px 70px;
              font-size: 20px; } }
      #product.content_only div.primary_block div.pb-right-column .box-info-product .box-cart-bottom {
        right: 0;
        left: 0; }
    #product.content_only div.primary_block div.pb-right-column #attributes .attribute_list .form-control {
      width: 230px; }
    #product.content_only div.primary_block div.pb-right-column .product_attributes,
    #product.content_only div.primary_block div.pb-right-column .box-cart-bottom {
      -moz-box-shadow: transparent 0px 0px 0px;
      -webkit-box-shadow: transparent 0px 0px 0px;
      box-shadow: transparent 0px 0px 0px; }
    #product.content_only div.primary_block div.pb-right-column .product_attributes {
      padding-top: 0; }

.addsharethisinner .stButton .stArrow {
  display: none !important; }

@media (max-width: 1050px) {
  #product.content_only div.primary_block div.pb-left-column,
  #product.content_only section.primary_block div.pb-left-column {
    width: 100%;
    padding-right: 15px; }
    #product.content_only div.primary_block div.pb-left-column #image-block, #product.content_only div.primary_block div.pb-left-column #views_block,
    #product.content_only section.primary_block div.pb-left-column #image-block,
    #product.content_only section.primary_block div.pb-left-column #views_block {
      max-width: 470px;
      width: 100%;
      margin-left: auto;
      margin-right: auto; }
    #product.content_only div.primary_block div.pb-left-column #thumbs_list li,
    #product.content_only section.primary_block div.pb-left-column #thumbs_list li {}
      #product.content_only div.primary_block div.pb-left-column #thumbs_list li img,
      #product.content_only section.primary_block div.pb-left-column #thumbs_list li img {}
  #product.content_only div.primary_block div.pb-center-column,
  #product.content_only section.primary_block div.pb-center-column {
    padding-left: 35px; }
  #product.content_only div.primary_block div.pb-right-column,
  #product.content_only section.primary_block div.pb-right-column {
    width: 50%;
    float: left; }
    #product.content_only div.primary_block div.pb-right-column .box-info-product,
    #product.content_only section.primary_block div.pb-right-column .box-info-product {
      border-top-width: 1px;
      min-height: 1px; } }
/***** IE code ****/

.lab-accessories,
#productscategory_list{
	position:relative;
}
.lab-accessories .product_image{
	display:block;
  outline: none;
}

.socialsharing_product{
    margin: 10px 0 0;
    padding-top: 10px;
}
.more-info{
	margin-bottom:80px
}
.more-info-ii{
}
.more-info-ii .idTabs{
	display:inline-block;
	margin-bottom:20px;
}
.more-info-ii .idTabs li{
    padding: 0 30px;
	float:left;
}
.more-info-ii .idTabs li:first-child{
	padding-left:0;
}
.more-info-ii .idTabs li a{
	color: #333333;
    cursor: pointer;
    display: inline;
    float: left;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    padding-bottom: 28px;
    position: relative;
    text-transform: uppercase;
}
.more-info-ii .idTabs li a:before {
    border-bottom: 3px solid #515151;
    bottom:0;
    content: "";
    left: 0;
    position: absolute;
    width: 0;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.more-info-ii .idTabs li a.selected,
.more-info-ii .idTabs li a:hover{
	color:#79b6c8;
}

.more-info-ii .idTabs li a:hover:before,
.more-info-ii .idTabs li a.selected:before {
    width: 30px;
}

#product_payment_logos{
	clear:both;
	padding-top: 20px;
}

.review-wrapper {

    margin-top: 50px;
    clear: both;
    h3 {
        margin: 0;
    }
    .review-container {
         border-bottom: 1px solid #e5e5e5;
         padding: 15px 0;

         .review-rating {
            .voted {
                color: #fa5400;
            }
         }
    }
}

.post-review-container {
    margin-top: 20px;
}

.banner-container {
  padding: 10px;
}


@media (max-width: 767px) {
	.pb-center-column #buy_block label{
		width:65px;
	}
	#attributes fieldset{
		margin-bottom:15px;
	}
	#attributes-ii{
		padding-bottom:15px;
	}

  .professional-label-list {
    font-size: 11px;
    left: 15px;
    right: 0;
  }
}
@media (max-width: 480px) {
	.more-info-ii .idTabs li{
		font-size: 12px;
		padding: 0 13px;
	}
}
