.labSearch{
	position:relative;
	z-index:10;
}
#search_block_top {padding:0 30px;position:relative;}
#search_block_top h4.title_search{
	color: #1f1f1f;
    display: inline;
    float: left;
    font-size: 13px;
    line-height: 30px;
    margin: 0 15px 0 0;
    text-transform: uppercase;
}
#search_block_top   .current{
	color: #1f1f1f;
    cursor: pointer;
    font-size: 18px;
    line-height: 66px;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
#search_block_top   .current:hover,
#search_block_top   .current.active{
	color:#78b5c7;
}
#search_block_top .toogle_content{
	position: absolute;
    right: 20px;
    top: auto;
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}
#search_block_top .form-control{
	border:none;
}
.lab_search{
	position:relative;
}
#lab_search_i{
	background: none repeat scroll 0 0 #fff;
    border: 1px solid #e1e1e1;
    margin: 0;
    padding: 15px;
    position: absolute;
    right: -15px;
    top: 110px;
    width: 290px;
	display:none;
}
#search_block_top .form-control:focus{
	-webkit-box-shadow:0 0 0;
	-moz-box-shadow:0 0 0;
	-ms-box-shadow:0 0 0;
	-o-box-shadow:0 0 0;
	box-shadow:0 0 0;
}
  #search_block_top #searchbox {
	display: inline;
    float: left;}
  #search_block_top .btn.button-search {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #666666;
    display: block;
    font-size: 20px;
    height: 30px;
    left: 0;
    line-height: 30px;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 30px;}
    #search_block_top .btn.button-search:hover {
      color: #000; }
  #search_block_top #search_query_top {
	background: #fff none repeat scroll 0 0;
    border: 1px solid #dddddd;
    display: inline;
    height: 45px;
    line-height: 45px;
    margin-right: 0;
    padding: 0 45px 0 15px;
    width: 250px;}
	#search_block_top .button{
		background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
		border: medium none;
		color: #303030;
		font-size: 18px;
		height: 45px;
		position: absolute;
		right: 0;
		top: 0;
		width: 45px;
		-webkit-transition: all 300ms ease;
		-moz-transition: all 300ms ease;
		-ms-transition: all 300ms ease;
		-o-transition: all 300ms ease;
		transition: all 300ms ease;
	}
	#search_block_top .button:hover{
		color:#79b6c8;
	}
.ac_results {
  background: white;
  border: 1px solid #d6d4d4;
  width: 271px;
  margin-top: -1px; }
  .ac_results li {
    padding: 0 10px;
    font-weight: normal;
    color: #686666;
    font-size: 13px;
    line-height: 22px; }
    .ac_results li.ac_odd {
      background: white; }
    .ac_results li:hover, .ac_results li.ac_over {
      background: #fbfbfb; }

form#searchbox {
  position: relative; }
  form#searchbox label {
    color: #333333; }
  form#searchbox input#search_query_block {
    margin-right: 10px;
    max-width: 222px;
    margin-bottom: 10px;
    display: inline-block;
    float: left; }
  form#searchbox .button.button-small {
    float: left; }
    form#searchbox .button.button-small i {
      margin-right: 0; }
.ac_results{
	width:258px !important;
}
.ac_results ul{
	margin:0 ;
	padding:0 15px 15px;
}	  
.ac_results ul li{
	overflow:hidden;
	padding:0 0 10px 0;
	margin:10px 0 0 0;
	border-bottom:1px solid #dedede;
	font-family:"Roboto Slab",serif;
	color:#333;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.ac_results ul li:last-child{
	border:none;
	padding:0;
}
.ac_results ul li img {
	float:left;
	display:inline;
	margin-right:10px;
	width:50px;
}
@media (max-width: 1024px) {
	
}
@media (max-width: 767px){
	#search_block_top .toogle_content{
		left: -95px;
		right: inherit;
	}
	#search_block_top .current{
		line-height:68px;
	}
}

